page-professionalprofile {

.mypadding{
  height: 220px;
}

// super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button:not(.selected) span:not(.badge) {
//   border-bottom: 6px solid black !important ;  
// }
// super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button {

//   height: 60px;
//   border-bottom: 2px solid gray;
// }
super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.active {

  border-bottom: 6px solid black !important ;
}
super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button {
text-transform: none;
font-size: 16px;

}


}
