<!--
  Generated template for the ProfessionalprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="hm_bg_color hm_header">
    <button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goProfileListing()"></button>
    <div class="hm_search_header">
    </div>
    <ion-icon float-right style="font-size:24px;color: white;padding: 8px 16px 0 0;" name="md-share"></ion-icon>
    <!-- <button ion-button class="hm_header_btn hm_float_right hm_search_icon"></button> -->
    <div class="hm_clear"></div>
  </ion-header>
<ion-content no-padding class="hm_sign_bg">
  
 <div class="profile-sec">
    <div class="profile-sty">
     <div class="img-profile"><img src="assets/img/hm_profile_photo.png"></div>
     <h2 style="color:green;font-size: 14px;position:absolute;top:5%;margin-left:80%;">3.5*<span style="color: lightgrey;">(98)</span></h2>
     <p>Alex Jhon | <span color="primary">Singer</span> </p>
     <div class="hm_clear"></div>
     <ion-row padding-top text-center>
       <ion-col>$2500<br><p no-margin no-padding text-color="light" style="font-size:12px;margin-top:0;">per event</p></ion-col>
       <ion-col>Mumbai</ion-col>
     </ion-row>
     <!-- <ul><li>$2500<span>Per event</span></li><li>Mumbai</li></ul> -->
     <button ion-button full color="primary" (click)="questionnaireStarting()">Connect Your Artist</button>
    </div>
  </div>
  
				<div class="mypadding"></div>

    <super-tabs (click)="scrollToBottom()" mode="md" tabsHighlight="true" tabsPlacement="top" toolbarBackground=""  indicatorColor="dark" (tabSelect)="onTabSelect($event)">  
      
      <super-tab *ngFor="let page of pages" [root]="page.pageName" [title]="page.title" [id]="page.id"></super-tab>
    </super-tabs>
    
       
     
  </ion-content>
    