<!--
  Generated template for the PostYourRequirementCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="hm_bg_color hm_header">
    <button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goPostYourRequirementSegment()"></button>
    <div class="hm_search_header">
      Post Your Requirement
    </div>
    <div class="hm_clear"></div>
</ion-header>

<ion-content no-padding>
    <div class="hm_wrapper">
      <div class="hm_search_bay hm_search_home">
          <p color="light">Artist / Talent</p>
      </div>
    </div>
    <div class="beauty">
        <div class="hm_service_list">
          <ul>
            <li>
              <div (click)="goQuestionnaireStartingPagePostRequirement()" class="hm_service_div">
                <img src="assets/img/macrophone.png">
              </div>
              <p>Singers</p>
            </li>
            <li>
              <div class="hm_service_div">
                <img src="assets/img/dj.png">
              </div>
              <p>DJ</p>
            </li>
            <li>
              <div class="hm_service_div">
                <img src="assets/img/makeup.png">
              </div>
              <p>Makeup</p>
            </li>
            <li>
              <div class="hm_service_div">
                <img src="assets/img/comic.png">
              </div>
              <p>Comic Artist</p>
            </li>
            <li>
              <div class="hm_service_div">
                <img src="assets/img/anchor.png">
              </div>
              <p>Anchor</p>
            </li>
            <li>
              <div class="hm_service_div">
                <img src="assets/img/photopng.png">
              </div>
              <p>Photography</p>
            </li>
            <li>
                <div (click)="goQuestionnaireStartingPagePostRequirement()" class="hm_service_div">
                  <img src="assets/img/macrophone.png">
                </div>
                <p>Singers</p>
              </li>
              <li>
                <div class="hm_service_div">
                  <img src="assets/img/dj.png">
                </div>
                <p>DJ</p>
              </li>
              <li>
                <div class="hm_service_div">
                  <img src="assets/img/makeup.png">
                </div>
                <p>Makeup</p>
              </li>
              <li>
                <div class="hm_service_div">
                  <img src="assets/img/comic.png">
                </div>
                <p>Comic Artist</p>
              </li>
              <li>
                <div class="hm_service_div">
                  <img src="assets/img/anchor.png">
                </div>
                <p>Anchor</p>
              </li>
              <li>
                <div class="hm_service_div">
                  <img src="assets/img/photopng.png">
                </div>
                <p>Photography</p>
              </li>
              <div class="hm_clear"></div>
          </ul>
        </div>
      </div>
</ion-content>
