
<!--
  Generated template for the ProfessionallistngfilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <div class="outcry_filter_bay">
      <!-- <input class="outcry-search_input" placeholder="Search for a service"> -->
      <button float-left ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="professionalListing()"></button>
      <button class="profession-singers-button" float-left ion-button small>FILTER</button>
	  <button class="profession-singers-button" float-right ion-button small>RESET</button>
  </div>
</ion-header>


<ion-content padding >

    <p no-padding no-margin>Services</p>
    <ion-list no-lines>

        <ion-item no-padding no-margin>
          <ion-label padding-left no-margin>Bollywood</ion-label>
          <ion-checkbox mode="md" no-padding no-margin></ion-checkbox>
        </ion-item>
        <ion-item no-padding no-margin>
          <ion-label padding-left no-margin>Accoustic Singer</ion-label>
          <ion-checkbox mode="md" no-padding no-margin></ion-checkbox>
        </ion-item>
        <ion-item no-padding no-margin>
          <ion-label padding-left no-margin>Hindi Retro</ion-label>
          <ion-checkbox  mode="md" no-padding no-margin></ion-checkbox>
        </ion-item>
        <ion-item no-padding no-margin>
          <ion-label padding-left no-margin>Classical</ion-label>
          <ion-checkbox  mode="md" no-padding no-margin></ion-checkbox>
        </ion-item>
        <ion-item no-padding no-margin>
          <ion-label padding-left no-margin>Indian Folk</ion-label>
          <ion-checkbox  mode="md" no-padding no-margin></ion-checkbox>
        </ion-item>
        <ion-item no-padding no-margin>
          <ion-label padding-left no-margin>Gajal</ion-label>
          <ion-checkbox  mode="md" no-padding no-margin></ion-checkbox>
        </ion-item>
        <ion-item no-padding no-margin>
          <ion-label padding-left no-margin>Kawwali</ion-label>
          <ion-checkbox  mode="md" no-padding no-margin></ion-checkbox>
        </ion-item>
      
    </ion-list>

    <ion-list>
     <ion-item>
        <ion-label>Location</ion-label>
        <ion-select>
            <ion-option>Kolkata</ion-option>
            <ion-option>Delhi</ion-option>
            <ion-option>Banglore</ion-option>
            <ion-option>Pune</ion-option>
       </ion-select>
      </ion-item>
    </ion-list>

    <p no-margin no-padding>Gender</p>
    <ion-list no-lines>

        <ion-item no-margin no-padding>
          <ion-label no-margin padding-left>Male</ion-label>
          <ion-checkbox mode="md"></ion-checkbox>
        </ion-item>
      
        <ion-item no-padding no-margin>
          <ion-label no-margin padding-left>Female</ion-label>
          <ion-checkbox mode="md"></ion-checkbox>
        </ion-item>
  
    </ion-list>

    <p no-margin no-padding>Language</p>
    <ion-list no-lines>

        <ion-item no-padding>
          <ion-label no-margin padding-left>English</ion-label>
          <ion-checkbox mode="md"></ion-checkbox>
        </ion-item>
      
        <ion-item no-padding>
          <ion-label no-margin padding-left>Hindi</ion-label>
          <ion-checkbox mode="md"></ion-checkbox>
        </ion-item>
      
        <ion-item no-padding>
          <ion-label no-margin padding-left>Bengoli</ion-label>
          <ion-checkbox mode="md"></ion-checkbox>
        </ion-item>
        <ion-item no-padding>
          <ion-label no-margin padding-left>Panjabi</ion-label>
          <ion-checkbox mode="md"></ion-checkbox>
        </ion-item>
    </ion-list>

    <p no-margin no-padding>Budget</p>
    <ion-list no-lines>
        <ion-item no-padding>
          <ion-label no-margin padding-left>Rs 50000 - 1000000</ion-label>
          <ion-checkbox mode="md"></ion-checkbox>
        </ion-item>       
        <ion-item no-padding>
          <ion-label no-margin padding-left>Rs 100000 - 2000000</ion-label>
          <ion-checkbox mode="md"></ion-checkbox>
        </ion-item>
        <ion-item no-padding>
          <ion-label no-margin padding-left>Rs 200000 - 5000000</ion-label>
          <ion-checkbox mode="md"></ion-checkbox>
        </ion-item>
    </ion-list>

    <button ion-button full (click)="professionalListingFilterResult()">Apply</button>

</ion-content>
