<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
  <div class="about-texts">
      <h4>About</h4>

      <h6>Business Name</h6>
      <p>Alex John</p>

      <h6>Introduction</h6>
      <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere quae quod molestias! Earum porro placeat, enim officiis incidunt debitis. Facilis, vitae cumque? Assumenda in atque iusto dicta hic beatae dolorum?</P>

      <h6>Number of shows</h6>
      <p>45678</p>

      <h6>Years of experience</h6>
      <p>20</p>

      <h6>Type of professional</h6>
      <p>Freelancer with a team</p>
  </div>
</ion-content>
