<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="welcome_outcry_signup">
  <div class="hm_wrapper">
    <div class="welcome_signin_inner_wrapper">
      <div class="logo-welcome ">
      <h5>Welcome to</h5>
      <h6>Outcry</h6>
      <span><img src="assets/img/hm_vector_underline.png"></span>
      </div>
      <br>
      <br>
        <div class="welcome_sign_detail">
          <div class="welcome__number_div ">
            <select class="code-mobile">
              <option>+91</option>
            </select>
            <input class="sign_input" placeholder="Mobile Number">
            <div class="hm_clear"></div>
          </div>

          <div class="welcome__number_div ">
            <select class="code-mobile">
            </select>
            <input class="sign_input" placeholder="      E-mail">
            <div class="hm_clear"></div>
          </div>

          <button class="sign-in-button" (click)="signup()" >Login or Signup</button>
        </div>
    </div>
    </div>
  </ion-content>
  
  
  
  Send a message
  
  
