<!--
  Generated template for the WorkAlbumsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>

  <button ion-button medium left color="semidark"><p><b>All albums</b></p></button>
     
  <div class="hm_clear"></div>
    
    <div class="work_album">
      <ul>
        <li><img src="assets/img/singer00.jpg">
          <h6>Singer Album1</h6>
            <p>15phots</p>
        </li>
        <li><img src="assets/img/singer00.jpg">
          <h6>Singer Album2</h6>  
          <p>14photos</p>
        </li>
        <li><img src="assets/img/singer00.jpg">
          <h6>Singer Album5</h6>  
          <p>47photos</p>
        </li>
        <li><img src="assets/img/singer00.jpg">
          <h6>Singer Album7</h6>  
          <p>32photos</p>
        </li>
        <!-- <li class="hm_border_top_none hm_border_left_none" ><img src="assets/img/singer01.jpg"><p>Event Services</p></li>
        <li class="hm_border_top_none hm_border_left_none" ><img src="assets/img/singer02.jpg"><p>Marketing Services</p></li>
        <li class="hm_border_top_none hm_border_left_none hm_border_right_none" ><img src="assets/img/singer00.jpg"><p>Vanue & Gateways</p></li> -->
        <div class="hm_clear"></div>
    
      </ul>
    </div>
    
    
</ion-content>
