<ion-header>
    <ion-row no-padding class="hm_bg_color hm_header">
      <ion-col text-left>
        <img class="back-arrow" float-left src="assets/img/left-arrow.png" (click)="goMyBookingOnlineListing()">
      
          <div float-left class="hm_search_header" text-nowrap>Requirement Details</div>
      </ion-col>
      <ion-col>
          <button class="cancel-request-btn" float-right ion-button outline small (click)="cancelRequestBookingResReq()">Cancel</button>
      </ion-col>
    </ion-row>
    <!-- <div class="hm_clear"></div> -->
</ion-header>  

<ion-content inset padding>
  <div class="my-booking-requirement">
    <ion-row no-padding no-margin><h5 no-padding no-margin float-left>Wedding Photographer</h5></ion-row>
    <ion-row padding-bottom no-margin style="border-bottom: 1px solid lightgray"><p class="my-booking-fancy-text" no-padding no-margin float-left>Booking ID : 11765</p></ion-row>  
    <hr>
    <ion-row no-padding no-margin>
      <ion-col no-padding no-margin><p no-padding no-margin float-left>Date:23.03.2019</p></ion-col>
      <ion-col no-padding no-margin><p class="my-booking-fancy-text" no-padding no-margin float-right>Jadavpur, Kolkata</p></ion-col>
    </ion-row>
  </div>

  <h5 no-padding><b>Details : </b></h5>
  
  <div>
        <p><img class="circular" src="assets/img/circular.png"><b>Function</b></p>
  </div>
  <div padding-left>
          <p><img class="arrow-forward" src="assets/img/icon-arrow.png">Reception</p>
          <p><img class="arrow-forward" src="assets/img/icon-arrow.png">Wedding</p>
  </div>

  <div>
      <p><img class="circular" src="assets/img/circular.png"><b>Required for</b></p>
  </div>
  <div padding-left>
        <p><img class="arrow-forward" src="assets/img/icon-arrow.png">Two Days</p>
  </div>

  <div>
      <p><img class="circular" src="assets/img/circular.png"><b>Area of services</b></p>
  </div>
  <div padding-left>
        <p><img class="arrow-forward" src="assets/img/icon-arrow.png">Kolkata</p>
  </div>

  <div>
      <p><img class="circular" src="assets/img/circular.png"><b>Requirement for the day1</b></p>
  </div>
  <div padding-left>
        <p><img class="arrow-forward" src="assets/img/icon-arrow.png">Traditional Photographer (Rs.5000  onwards)</p>
        <p><img class="arrow-forward" src="assets/img/icon-arrow.png">Traditional Videographer (Rs.7000  onwards)</p>
  </div>

  <h6>Responses : </h6>

  <div class="myBooking-requiremnnt-details-responses">
    <ion-row padding-right>
        <ion-avatar padding>
            <img class="qoimg" src="assets/img/hm_profile_photo.png">
        </ion-avatar>
        <ion-label padding-top>
          <h4>Rakesh Photographer</h4>
          <span>
              <p no-padding no-margin><ion-icon class="star-icon" color="primary" name="md-star">  4.8</ion-icon>105 rating</p>  
          </span>

          <h5 float-left (click)="myBookingResProfessionalProfile()">View Profile</h5><h5 float-right (click)="gochat();">Chat</h5>
        </ion-label>
    </ion-row>      
  </div>
  <div class="myBooking-requiremnnt-details-responses">
      <ion-row padding-right>
          <ion-avatar padding>
              <img class="qoimg" src="assets/img/hm_profile_photo.png">
          </ion-avatar>
          <ion-label padding-top>
            <h4>Vivah Laksmi Photographer</h4>
            <span>
                <p no-padding no-margin><ion-icon class="star-icon" color="primary" name="md-star">  4.8</ion-icon>105 rating</p>  
            </span>            <h5 float-left (click)="myBookingResProfessionalProfile()">View Profile</h5><h5 float-right (click)="gochat();">Chat</h5>
          </ion-label>
      </ion-row>      
    </div>   
    <ion-row padding margin></ion-row>  
</ion-content>
<ion-footer>
    <tabcomponent></tabcomponent>
</ion-footer>