<ion-header class="search-header" padding-right>
	<ion-row no-padding>
		<ion-col no-padding col-1>	<button float-left ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goCategory()"></button></ion-col>
		<ion-col no-padding col-11><input float-right class="outcry-search_input-profeesional" placeholder="Search for a service">
		</ion-col>
	</ion-row>
	<ion-row no-padding>
		<ion-col col-6 no-padding><button ion-button bottom float-left small class="profession-singers-button" >Singers</button>
		</ion-col>
		<ion-col col-6 no-padding>  <button  float-right ion-button small class="filter_btn" (click)="professionallistfilter()" true ionblur ionfocus>Filter</button>  
		</ion-col>
	</ion-row>
</ion-header>


<ion-content padding class="hm_sign_bg">
	<div class="hm_message_div">
		<ul>
			<li (click)="professionalProfile()">
				<div class="hm_message_pic">
				</div>
				<div class="hm_message_detail">
					<h4>Alex John <span style="color:lightgrey;font-size: 14px;">| Singer</span></h4>
					<p>25000 / per event</p>
				</div>
				<div class="hm_message_date">
					<h6 >*4.5<span style="color:lightgrey;font-size: 12px;">(83)</span></h6>
					<p>Mumbai</p>
				</div>
				<div class="hm_clear"></div>
			</li>
			<li (click)="professionalProfile()">
				<div class="hm_message_pic">
				</div>
				<div class="hm_message_detail">
					<h4>Alex John<span style="color:lightgrey;font-size: 14px;">| Singer</span></h4>
					<p>25000 / per event</p>
				</div>
				<div class="hm_message_date">
					<h6 >*3.5<span style="color:lightgrey;font-size: 12px;">(83)</span></h6>
					<p>Mumbai</p>
				</div>
				<div class="hm_clear"></div>
			</li>
			<li (click)="professionalProfile()">
				<div class="hm_message_pic">
				</div>
				<div class="hm_message_detail">
					<h4>Poul Williams <span style="color:lightgrey;font-size: 14px;">| Singer</span></h4>
					<p>35000 / per event</p>
				</div>
				<div class="hm_message_date">
					<h6 >*4.0<span style="color:lightgrey;font-size: 12px;">(83)</span></h6>
					<p>Kolkata</p>
				</div>
				<div class="hm_clear"></div>
			</li>
			<li (click)="professionalProfile()">
				<div class="hm_message_pic">
				</div>
				<div class="hm_message_detail">
					<h4>Aliex Smith <span style="color:lightgrey;font-size: 14px;">| Singer</span></h4>
					<p>25000 / per event</p>
				</div>
				<div class="hm_message_date">
					<h6 >*4.5<span style="color:lightgrey;font-size: 12px;">(83)</span></h6>
					<p>Mumbai</p>
				</div>
				<div class="hm_clear"></div>
			</li>
			<li (click)="professionalProfile()">
				<div class="hm_message_pic">
				</div>
				<div class="hm_message_detail">
					<h4>Alex John<span style="color:lightgrey;font-size: 14px;">| Singer</span></h4>
					<p>25000 / per event</p>
				</div>
				<div class="hm_message_date">
					<h6 >*3.5<span style="color:lightgrey;font-size: 12px;">(83)</span></h6>
					<p>Mumbai</p>
				</div>
				<div class="hm_clear"></div>
			</li>
			<li (click)="professionalProfile()">
				<div class="hm_message_pic">
				</div>
				<div class="hm_message_detail">
					<h4>Poul Williams <span style="color:lightgrey;font-size: 14px;">| Singer</span></h4>
					<p>35000 / per event</p>
				</div>
				<div class="hm_message_date">
					<h6 >*4.0<span style="color:lightgrey;font-size: 12px;">(83)</span></h6>
					<p>Kolkata</p>
				</div>
				<div class="hm_clear"></div>
			</li>
		</ul>
</div>
</ion-content>
