<ion-header class="hm_bg_color hm_header">
  <button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="dismiss()"></button>
  <div class="hm_search_header">
    Edit profile
  </div>
  <div class="hm_clear"></div>
</ion-header>
<ion-content padding>

	<div class="address-field">
			<p>Full name</p>
			<h5 padding-bottom>Sovan Banerjee</h5>
			
			<p margin-top>Email Address</p>
			<h5 padding-bottom>sovan@gmail.com</h5>
			
			<p margin-top>Phone Number</p>
			<h5 padding-bottom>+91 0987654321</h5>
			<br>
	</div>
	<div class="hm_clear"></div>
<button ion-button full margin-top style="color:white;background-color:lightgrey;border-radius:5px;text-align:center;">Update Now</button>
</ion-content>
