page-editprofile {

    .address-field p {
        color: grey;

    }

    .address-field h5 {
        font-size: 16px;
        padding-bottom: 12px;
        border-bottom: .55px solid lightgray;
    }

    .floating-btn {
        border-radius: 40%;

    }

    .btn0{
        border: 1px solid gray;
        display: inline-block;
        padding: 10px;
        border-radius: 0 40% 40% 0;
        position: relative;
        text-align: center;
    }
    .btn1{
        border: 1px solid gray;
        display: inline-block;
        padding: 10px;
        border-radius: 40% 0 0 40%;
        position: relative;
        text-align: center;
    }
    
    input[type="radio"].toggle {
        display: none;
        position: absolute;
        & + label{
            cursor: pointer;
            min-width: 60px;
            &:hover{
                background: none;
                color: mediumblue;
            }
            &:after{
                background: mediumblue;
                content: "";
                height: 100%;
                position: absolute;
                top: 0;
                transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
                width: 100%;
                z-index: -1;
            }
            
        }
        &.toggle-left + label {
            border-right: 0;
            border-radius: 50% 0 0 50%;
            &:after{
                left: 100%;
                border-radius: 50% 0 0 50%;
            }
        }
        &.toggle-right + label{
            margin-left: -5px;
            &:after{
                left: -100%;
                border-radius: 0 50% 50% 0;
            }
        }
        &:checked + label {
            cursor: default;
            color: #fff;
            transition: color 200ms;
            &:after{
                left: 0;
            }
        }
    }
}
