<ion-header class="hm_bg_color hm_header">
<button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goMessage()"></button>
  <div class="hm_search_header">
	<b>Paul Williams</b>
  </div>
  <div class="hm_clear"></div>
</ion-header>
<ion-content padding class="hm_sign_bg">
	<div class="hm_chat_wrap">
		<ul>
			<li class="hm_received">
				<div class="hm_message_photo">
						<img src="assets/img/hm_profile_pic2.jpg">
				</div>
				<div class="hm_message_content">
					<h6>Paul Williams</h6>
					<p>Hi,  Ann Alexander</p>
					<span>Mar 18</span><span>07 : 30 am</span>
				</div>
				<div class="hm_clear"></div>
			</li>
			<li class="hm_sented">
				<div class="hm_message_photo">
						<img src="assets/img/hm_profile_pic4.jpg">
				</div>
				<div class="hm_message_content">
					<h6>You</h6>
					<p>Hi, I needed a Nutrition expert</p>
					<span>Mar 18</span><span>07 : 33 am</span>
				</div>
				<div class="hm_clear"></div>
			</li>
		</ul>
	</div>

	<div style="margin-top: 70%;" class="hm_chat_type_wrapper">
			<button class="hm_attach"><img src="assets/img/hm_attach.png"></button>
			<button class="hm_camera"><img src="assets/img/hm_camera.png"></button>
			<button class="hm_send_btn"><img src="assets/img/hm_send.png"></button>
			<input class="hm_type_text" type="text" placeholder="Type your message here">		
			<div class="hm_clear"></div>
	</div>
</ion-content>
<ion-footer>
	<tabcomponent></tabcomponent>
</ion-footer>

