<!--
  Generated template for the QuestionnairelocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="hm_bg_color hm_header">
  <button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goQuestionnairedate()"></button>
  <div class="hm_search_header">
    Singer Location
  </div>
  <div class="hm_clear"></div>
</ion-header>

<ion-content padding>
  <div text-center class="questionare-event-type-header" padding>
    <h2><b>Location Where you require<br>
         the Singer ?
        </b>
    </h2>
  </div>
  <h6 text-center text-color="secondary">Please Enter Your Current Location : </h6>

  <ion-list>
    <div class="location-inputbox">
      <ion-item>
       <ion-input  type="text" placeholder="Enter Location"></ion-input>
        <button ion-button medium padding color="semidark" class="location-button" item-right>
          <ion-icon item-left name="locate"></ion-icon>
          Locate me</button>
      </ion-item>
    </div>
    <p float-left text-color="primary">E.g. Susant Lok, Sector 23, Gurguan</p>
  </ion-list>
  
</ion-content>
<ion-footer>
  <button style="margin-bottom: 0;" ion-button full (click)="goQuestionaireForOtherQuestion()">Next
     <ion-icon class="next-arrow" padding-left name="arrow-round-forward"></ion-icon>
  </button>  
</ion-footer>