<ion-content class="hm_wizardpopover">
	<div class="hm_popover_cover">
		<div class="hm_popover_main">
			<ul>
				<li>Blogs</li>
				<li (click)="goHelpCentreListing()">Help-centre</li>
				<li>How it works</li>
				<li>News/Updates</li>
				<li>About</li>
				<li>Login</li>
				<li>Register</li>
			</ul>
		</div>
	</div>

</ion-content>
