<!--
  Generated template for the QuestionnaireBudgetPostRequirementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="hm_bg_color hm_header">
  <button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goQuestionnaireEventDurationPostRequirement()"></button>
  <div class="hm_search_header">
    Singer
  </div>
  <div class="hm_clear"></div>
</ion-header>


<ion-content >
  <ion-list no-lines>
    <div text-center class="questionare-event-type-header" padding>
        <h2><b>What is your estimated budget<br>
            for the Singer's Services?
            </b>
        </h2>
    </div>
    <hr>
      <ion-item>
        <ion-label><h4 float-left >Budget</h4> <h4 float-right>Rs 50000 - 1000000</h4></ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    <hr>        
      <ion-item>
        <ion-label><h4 float-left >Experienced</h4> <h4 float-right>Rs 100000 - 2000000</h4></ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    <hr>
      <ion-item>
        <ion-label><h4 float-left >Premium</h4> <h4 float-right>Rs 200000 - 5000000</h4></ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    <hr>
    </ion-list>
</ion-content>


<!-- 
<ion-footer no-padding>
  <button style="margin-bottom: 0;" ion-button full (click)="questionnaireDatePostRequirement()">Next
    <ion-icon class="arrow-forword" name="arrow-forward"></ion-icon>
  </button>  
</ion-footer> -->

<ion-footer>
  <button style="margin-bottom: 0;" ion-button full (click)="questionnaireDatePostRequirement()">Next
     <ion-icon class="next-arrow" padding-left name="arrow-round-forward"></ion-icon>
  </button>  
</ion-footer>