<ion-header class="hm_bg_color hm_header">
  <div padding-left class="hm_search_header">
	  <b>Profile</b>
  </div>
  <div class="hm_clear"></div>
</ion-header>
<ion-content padding>
	<div padding-top class="hm_myprofile_wrapper">
		<div padding-left padding-top class="hm_myprofile_photo">
			<img src="assets/img/hm_profile_photo.png">
			<div class="hm_edit_circle">
				<img src="assets/img/hm_edit_circle.png">
			</div>
		</div>
		<div class="hm_myprofile_detail">
			<div margin-left padding-left class="hm_myprofile_left">
				<h4>John Doe</h4>
				<p>dummyemail@gmail.com</p>
				<h6>+91 95421 23566</h6>
			</div>
			<div padding-top class="hm_myprofile_right">
				<div class="hm_edit_circle1" (click)="editprofile()">
					<img src="assets/img/pencil.png">
				</div>
			</div>
			<div class="hm_clear"></div>
			<!-- <br> -->
			
			<hr style="margin-left:50px;">
			<!-- <div class="hm_clear"></div> -->
		</div>
		<div padding-left padding-top class="hm_myprofile_list">
			<ul>
				<li (click)="customerSupport()"><span><img src="assets/img/question.png"></span>Help Center</li>
				<li><span><img src="assets/img/tool1.png"></span>About Outcry</li>
				<li><span><img src="assets/img/share.png"></span>Share Outcry</li>
				<li><span><img src="assets/img/logout.png"></span>Logout</li>
			</ul>
		</div>
	</div>

</ion-content>
<ion-footer>
		<tabcomponent></tabcomponent>
</ion-footer>
		