page-my-booking-responded-professional-profile {
    .mypadding{
        height: 20px;
      }

      super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button {
        text-transform: none;
        font-size: 16px;
        
      }
      
}
