<!-- <ion-header class="hm_bg_color hm_header">
  <button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goMyBookingRequirementDetail()"></button>
  <div class="hm_search_header">
    All Services
  </div>
  <button ion-button class="hm_header_btn hm_float_right hm_search_icon"></button>
  <div class="hm_clear"></div>
</ion-header> -->

<ion-content no-padding class="hm_sign_bg">
	<div margin-top class="respondedProfessionaProfile">
		<ion-row>
			<ion-col padding-left>
					<ion-icon (click)="goMyBookingRequirementDetail();" float-left style="font-size:22px;" name="md-arrow-back"></ion-icon>
			</ion-col>
			<ion-col padding-right>
					<ion-icon float-right style="font-size:26px;" name="md-share"></ion-icon>
			</ion-col>
		</ion-row>
		<ion-row margin-top><ion-col></ion-col><ion-col>
				<img src="assets/img/hm_profile_photo.png">
		</ion-col><ion-col></ion-col></ion-row>
		<h4 text-center><b>Tapan Ghosh</b></h4>
		<h6 text-center>Wedding Photographer</h6>
		<p text-center>Bagha Jatin Pally,Kolkta,WestBengal,India</p>
	</div>
	<button class="respondedProfessionalProfilebtn" ion-button full ><ion-icon class="thums-icon" name="ios-thumbs-up"></ion-icon><b>Hired 2 times on Outcry</b></button>
	<div class="mypadding"></div>
	       
  <super-tabs (click)="scrollToBottom()" tabsPlacement="top" text-nowrap toolbarBackground="" toolbarColor="dark" indicatorColor="dark"
    (tabSelect)="onTabSelect($event)">
   	<super-tab *ngFor="let page of pages" [root]="page.pageName" [title]="page.title" [id]="page.id"></super-tab>
  </super-tabs>
</ion-content>
<ion-footer>
		<tabcomponent></tabcomponent>
</ion-footer>

