page-faq-list {
    .faq{
        text-align: left;
        background-color: map-get($colors, semilight);
        height: 40px;
        margin-top: 0;
    }

    .faq-list-forword-icon {
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: auto;
        display: inline-block;
        font-weight: 200;
    }

    .faq-listing-txt {
        padding: 20px 0 20px 20px;
        font-size: 20px;
        font-weight: 400;
        display: inline-block;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 0.55px solid #162d38;
    }

}
