<ion-header>
    <ion-row no-padding class="hm_bg_color hm_header">
      <ion-col text-left>
        <img class="cntct-outcry-spprt-tm-back-arrow" float-left src="assets/img/left-arrow.png" (click)="goHelpCentreListing()" >
      
          <div float-left class="cntct-outcry-spprt-tm-header" text-nowrap>Booking Services</div>
      </ion-col>
    </ion-row>
</ion-header>  

<ion-content>
    <ion-list>
        <button no-padding no-padding ion-item detail-none detail-none text-wrap (click)="bookService()">
          <b class="faq-listing-txt">How to book a service ?</b>
          <ion-icon class="faq-list-forword-icon" float-right name="ios-arrow-forward" end></ion-icon>
          <!-- <ion-icon name=“arrow-forward” end></ion-icon> -->
        </button>
        <button no-padding ion-item detail-none text-wrap>
          <ion-icon class="faq-list-forword-icon" float-right name="ios-arrow-forward" end></ion-icon>
          <b class="faq-listing-txt">How to cancel a booking ?</b>
        </button>
        <button no-padding ion-item detail-none text-wrap>
          <ion-icon class="faq-list-forword-icon" float-right name="ios-arrow-forward" end></ion-icon>
          <b class="faq-listing-txt">How to Re-schedule a booking ?</b>
        </button>
        <button no-padding ion-item detail-none text-wrap>
          <ion-icon class="faq-list-forword-icon" float-right name="ios-arrow-forward" end></ion-icon> 
          <b class="faq-listing-txt">Which professional will reach for <br> delivering sevices ?</b>
        </button>
        <!-- <button no-padding ion-item detail-none text-wrap>
          <ion-icon class="faq-list-forword-icon" float-right name="ios-arrow-forward" end></ion-icon>
          <b class="faq-listing-txt">How to know if my request is confirmed ?</b>
        </button> -->
        <button no-padding ion-item detail-none text-wrap>
            <ion-icon class="faq-list-forword-icon" float-right name="ios-arrow-forward" end></ion-icon>
            <b class="faq-listing-txt">How can i contact the professional ?</b>
          </button>
        <button no-padding ion-item detail-none text-wrap>
          <ion-icon class="faq-list-forword-icon" float-right name="ios-arrow-forward" end></ion-icon>
          <b class="faq-listing-txt">How to know if my request is <br> confirmed ?</b>
        </button>
        <button no-padding ion-item detail-none text-wrap>
          <ion-icon class="faq-list-forword-icon" float-right name="ios-arrow-forward" end></ion-icon>
          <b class="faq-listing-txt">How can i rate and review the service <br> of a professional ?</b>
        </button>
        <button no-padding ion-item detail-none text-wrap>
          <ion-icon class="faq-list-forword-icon" float-right name="ios-arrow-forward" end></ion-icon>
          <b class="faq-listing-txt">How can i book the same proffeional <br> again who delivered my last <br> service ?</b>
        </button>

        <br>
        <br>
    </ion-list>

    
</ion-content>

<ion-footer>
    <tabcomponent></tabcomponent>
</ion-footer>
    