<ion-header no-padding no-margin>
    <ion-row no-padding class="hm_bg_color hm_header">
      <ion-col text-left>
        <img class="back-arrow" (click)="goProfile()" float-left src="assets/img/left-arrow.png">
      
          <div float-left class="hm_search_header" text-nowrap>Customer Support</div>
      </ion-col>
    </ion-row>
</ion-header>  


<ion-content no-padding>
    <ion-list>
        <button no-padding ion-item detail-none (click)="contactOutcrySupportTeam()">            
            <img style="margin-left:20px;height: 25px; width: 25px;" src="assets/img/out.jpg">
          <span class="help-center-listing-txt">
           Contact Outcry Support         
          <p no-margin>Get a Ticket to Connect With Outcry Team</p>
          <!-- <ion-icon name=“arrow-forward” end></ion-icon> -->
        </span>
        <ion-icon class="help-center-listing-icon" float-right name="ios-arrow-forward" margin-top end></ion-icon>
        </button>
        <button no-padding detail-none ion-item (click)="scheduleCallBack();">
            <img style="margin-left:20px;height: 25px; width: 25px;" src="assets/img/call.jpg">
          <span class="help-center-listing-txt">   
              Schedule Call Back
            </span>       
            <ion-icon class="help-center-listing-icon" float-right name="ios-arrow-forward" end></ion-icon>
        </button>

      <button ion-item detail-none no-lines class="faq">
        <b>FAQ</b>
      </button>

      <button no-padding detail-none ion-item (click)="faqListingPage()">
        <ion-icon class="help-center-listing-icon" float-right name="ios-arrow-forward" end></ion-icon>
        <h2><b class="help-center-listing-txt">Booking Services</b></h2>
      </button>
      <button no-padding detail-none ion-item>
        <ion-icon class="help-center-listing-icon" float-right name="ios-arrow-forward" end></ion-icon>
        <b class="help-center-listing-txt">Paying for Services</b>
      </button>
      <button no-padding detail-none ion-item>
        <ion-icon class="help-center-listing-icon" float-right name="ios-arrow-forward" end></ion-icon>
        <b class="help-center-listing-txt">A Guide to Outcry</b>
      </button >
    </ion-list>


    <!-- <ul>
        <li margin>Item #1</li>
        <hr>
        <li>Item #2</li>
        <li>Item #3</li>
        <li>Item #4</li>
        <li>Item #5</li>
    </ul> -->

  
</ion-content>
<ion-footer>
  <tabcomponent></tabcomponent>
</ion-footer>
  