page-help-centre-listing {

    .faq{
        text-align: left;
        background-color: map-get($colors, semilight);
        // height: 40px;
        margin-top: 0;
    }

    .help-center-listing-icon {
        font-size: 30px;
        margin-top: 20px;
    }

    .help-center-listing-txt {
        padding: 20px 0 20px 20px;
        font-size: 19px;
        font-weight: 400;
        display: inline-block;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 0.55px solid #162d38;
    }

    // #arrow {
    //     border-right:2px solid black;
    //     border-bottom:2px solid black;
    //     width:10px;
    //     height:10px;
    //     transform: rotate(-45deg);
    //     // margin-top:40px;
    // }
    
    
    
    // ul li {
    //   position: relative;
    //     padding-bottom: 10px;
    // }
    
    // ul {
    //   list-style: none;
    // }
    
    // ul li:before{
    //    content: '';
    //    position: absolute;
    //    border-right:2px solid black;
    //    border-bottom:2px solid black;
    //    width:10px;
    //    height:10px;
    //    top: calc(50% - 4px);
    //    right: 20px;
    //    transform: translateY(-50%) rotate(-45deg);
    // }

}
