<ion-header class="hm_bg_color hm_header">
    <button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goConfirmMassageBookingProfessional()"></button>
    <div class="hm_search_header">
      Singer
    </div>
    <div class="hm_clear"></div>
</ion-header>
  
  
  <ion-content >
    <ion-list no-lines>
      <div text-center class="questionare-event-type-header" padding>
          <h2><b>Why do you want to cancel<br>
              the request ?
              </b>
          </h2>
      </div>
      <hr>
        <ion-item>
          <ion-label>I have hired someone outside Outcry</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      <hr>
      <ion-item>
          <ion-label>I submitted the request by mistake</ion-label>
          <ion-checkbox></ion-checkbox>
      </ion-item>
      <hr>
        <ion-item>
          <ion-label>I didn't like the responses</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      <hr>
        <ion-item>
          <ion-label>I have changed my plans</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      </ion-list>
  </ion-content>
    
  <ion-footer>
    <ion-row padding-left padding-right>
      <ion-col><button class="cancel-request-submit-btn" ion-button full (click)="goHome()">Submit --></button></ion-col>
      <ion-col><button class="cancel-request-cancel-btn" ion-button full (click)="goConfirmMassageBookingProfessional()">Cancel</button></ion-col>
    </ion-row>     
  </ion-footer>