<!-- <ion-header>
    <ion-row no-padding class="hm_bg_color hm_header">
      <ion-col text-left>
        <img class="back-arrow" float-left src="assets/img/left-arrow.png">
      
          <div float-left class="hm_search_header" text-nowrap>Booking Services</div>
      </ion-col>
    </ion-row>
</ion-header>   -->

<ion-header>
  <ion-row no-padding class="hm_bg_color hm_header">
    <ion-col text-left>
      <!-- <img class="back-arrow" float-left src="assets/img/left-arrow.png"> -->
      <ion-icon (click)="goHelpCentreListing()" class="back-arrow-icon" float-left name="arrow-back"></ion-icon>
        <div padding-left float-left class="schedule_callback_header" text-nowrap>Booking Services</div>
    </ion-col>
  </ion-row>
  <!-- <div class="hm_clear"></div> -->
</ion-header>  
 



<ion-content padding class="booking-services">
  <div>
    <h2  margin-top>How to book a service ?</h2>

    <p>You can follow the below steps to book a service</p>
    <p>1. <a><b>Search</b></a> for the category you need</p>
    <p>2.Open the category you need and follow the instruction when go forword</p>
    <p>3.Once you have placing the booking wait for the professional to be asigned. A verified & trained professional will be assigned with in 1 hour</p>
    <p>4.The assigned will reached the address you provided and deliver the services</p>
      </div>
</ion-content>

<ion-footer>
    <tabcomponent></tabcomponent>
</ion-footer>
    