<!--
  Generated template for the ConfirmMassageBookingProfessionalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-row class="hm_bg_color hm_header">
      <ion-col>
          <button float-left ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goQuestionaireForOtherQuestion()"></button>
          <div float-left class="hm_search_header">Singer</div>
      </ion-col>
      <ion-col>
          <button class="cancel-request-btn" float-right ion-button outline small (click)="cancelRequest()">Cancel Request </button>
      </ion-col>
    </ion-row>
    <div class="hm_clear"></div>
  </ion-header>
    
  <ion-content padding>
    <div class="cancel-request-body">
      <h5 padding-bottom text-center color="secondary">Request Date : February 26, 2019</h5>
      <div class="cancel-request-div">
          <h6>Request sent to singer</h6>
          <!-- <p text-nowrap >Interested Singers will respond with their profile & Prices</p> -->
        </div>
          <ion-row padding-top>
        <ion-col></ion-col>
        <ion-col><button class="cancel-request-btn02" ion-button medium (click)="goHome()">GO TO HOME PAGE</button></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>    
  </ion-content>
  