
<ion-header class="hm_bg_color hm_header">
  <div class="hm_header_location_bay">
    Banarsi Das Estate, Delhi
    <span><img src="assets/img/hm_dwn_arw.png"></span>
  </div>
  <button ion-button class="hm_header_btn hm_float_right hm_more_icon" (click)="presentPopover()"></button>
  <!-- <button ion-button class="hm_header_btn hm_float_right hm_search_icon" (click)="location()" ></button> -->
  <div class="hm_clear"></div>
</ion-header>
<ion-content class="hm_sign_bg-new">

    <div class="hm_ad_wrap">
        <ion-slides pager="false" #mySlider>
              <ion-slide>
            <img src="assets/img/home-bg.jpg">
            <div class="hm_button_ad">   
             <h3>Are you looking for a service from us?</h3>
             <button class="home-requirment-butn" (click)="postYourRequirementSegment()">Post your Requirement</button>
            </div>
          </ion-slide>
        </ion-slides>
    </div>

  <div class="hm_wrapper">
  <div class="hm_search_bay hm_search_home">
    <p color="light">How Can We Help you Today</p>
    <input class="hm_search_input" placeholder="Search for a service">
  </div>
  <div class="hm_menu_bay">
    <ul>
      <li class="hm_border_top_none hm_border_left_none" (click)="service(0)"><img src="assets/img/001.png"><p>Artist / Talent</p></li>
      <li class="hm_border_top_none hm_border_left_none" (click)="service(1)"><img src="assets/img/003.png"><p>Event Services</p></li>
      <li class="hm_border_top_none hm_border_left_none" (click)="service(2)"><img src="assets/img/002.png"><p>Marketing Services</p></li>
      <li class="hm_border_top_none hm_border_left_none hm_border_right_none" (click)="service(3)"><img src="assets/img/004.png"><p>Vanue & Gateways</p></li>
      <div class="hm_clear"></div>

    </ul>
  </div>

  <div class="hm_catagory_scroll_div">
    <h5 (click)="fitness()">Recommended Services</h5>
    <ion-scroll scrollX="true" style="height:130px;">
      <ul>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/wedding.jpg">
          </div>
          <p>Wedding</p>
        </li>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/fashion.jpg">
          </div>
          <p>Fashion</p>
        </li>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/singer.jpg">
          </div>
          <p>Singer</p>
        </li>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/dance.jpg">
          </div>
          <p>Dance</p>
        </li>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/wedding.jpg">
          </div>
          <p>Diet Plan</p>
        </li>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/fashion.jpg">
          </div>
          <p>Diet Plan</p>
        </li>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/singer.jpg">
          </div>
          <p>Diet Plan</p>
        </li>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/dance.jpg">
          </div>
          <p>Diet Plan</p>
        </li>
      </ul>
    </ion-scroll>
  </div>
</div>
</ion-content>
<ion-footer>
<tabcomponent></tabcomponent>
</ion-footer>
