<ion-header class="hm_bg_color hm_header">
    <button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goQuestionnaireEventType()"></button>
    <div class="hm_search_header">
      Singer
    </div>
    <div class="hm_clear"></div>
  </ion-header>
  
  
  <ion-content >
    <ion-list no-lines>
      <div text-center class="questionare-event-type-header" padding>
          <h2><b>How long is the Event <br>
              Expected to last?
              </b>
          </h2>
      </div>
      <hr>
        <ion-item>
          <ion-label>01 - 02 Hours</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      <hr>
      <ion-item>
          <ion-label>02 - 03 Hours</ion-label>
          <ion-checkbox></ion-checkbox>
      </ion-item>
      <hr>
        <ion-item>
          <ion-label>More than 3 Hours</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      <hr>
      </ion-list>
  </ion-content>
  
  
  
  <!-- <ion-footer>
    <button style="margin-bottom: 0;" ion-button full (click)="questionnaireBudget()">Next 
      <ion-icon class="arrow-forword" name="arrow-forward"></ion-icon>
    </button>  
  </ion-footer> -->

  <ion-footer>
    <button style="margin-bottom: 0;" ion-button full (click)="questionnaireBudget()">Next
       <ion-icon class="next-arrow" padding-left name="arrow-round-forward"></ion-icon>
    </button>  
  </ion-footer>