<!--
  Generated template for the ContactOutcrySupportTeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-row no-padding class="hm_bg_color hm_header">
      <ion-col padding-left text-left>
        <img class="cntct-outcry-spprt-tm-back-arrow" (click)="goHelpCentreListing();" float-left src="assets/img/left-arrow.png">
      
          <div float-left class="cntct-outcry-spprt-tm-header" text-nowrap>Contact Outcry Support</div>
      </ion-col>
    </ion-row>
</ion-header>  
  
<ion-content padding>
  <h4 padding-top margin-top>Title</h4>
  <ion-item style="border:.5px solid #faae3f">
    <ion-textarea rows="1" cols="20"></ion-textarea>
  </ion-item>

  <h4 padding-top margin-top >Description</h4>
  <ion-item style="border:.5px solid #faae3f">
    <ion-textarea rows="4" cols="20"></ion-textarea>
  </ion-item>

  <button class="cntct-outcry-spprt-tm-submit-btn" >Submit</button>
</ion-content>
<ion-footer>
  <tabcomponent></tabcomponent>
</ion-footer>
  