<!--
  Generated template for the QuestionnaireeventtypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="hm_bg_color hm_header">
  <button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goQuestionnaireStarting()"></button>
  <div class="hm_search_header">
    Singer
  </div>
  <div class="hm_clear"></div>
</ion-header>


<ion-content >
  <ion-list no-lines>
    <div text-center class="questionare-event-type-header" padding>
        <h2><b>What Type of Party is it?</b></h2>
    </div>
    <hr>
      <ion-item>
        <ion-label>Private Event</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    <hr>
      <ion-item>
        <ion-label>Corporate Event</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    <hr>
    <ion-item>
        <ion-label>Wedding Event</ion-label>
        <ion-checkbox></ion-checkbox>
    </ion-item>
    <hr>
      <ion-item>
        <ion-label>Commercial Event</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    <hr>
      <ion-item>
          <ion-label>Other Event</ion-label>
          <ion-checkbox></ion-checkbox>
      </ion-item>
    <hr>
    </ion-list>
</ion-content>


<!-- 
<ion-footer>
  <button style="margin-bottom: 0;" ion-button full (click)="questionnaireEventDuration()">Next 
    <ion-icon class="arrow-forword" name="arrow-forward"></ion-icon> 
  </button>  
</ion-footer> -->
<ion-footer>
  <button style="margin-bottom: 0;" ion-button full (click)="questionnaireEventDuration()">Next
     <ion-icon class="next-arrow" padding-left name="arrow-round-forward"></ion-icon>
  </button>  
</ion-footer>