// http://ionicframework.com/docs/v2/theming/


@import "../assets/css/custom.scss";
@import "../assets/css/font-awesome.scss";

.welcome_signin_inner_wrapper h5 {
    text-align: center;
    color: #162d38;
    margin-top: 50%;
    font-size: 36px;
    }
    .welcome_signin_inner_wrapper {
    width: 85%;
    margin-top: 15% !important;
    margin: 0 auto;
    }
    .logo-welcome h6 {
    width: 100%;
    text-align: center;
    color: #162d38;
    margin: 6px 0px;
    font-size: 25px;
    font-weight: 300;
    }
    .welcome_outcry_signup {
    background: url("../assets/img/welcome-bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    }
    .hm_sign_detail {
    width: 100%;
    }
    .logo-welcome {
    width: 100%;
    text-align: center;
    }
    .logo-welcome img {
    width: 50px;
    }
    .welcome_sign_detail {
    width: 100%;
    }
    .welcome__number_div {
    width: 100%;
    height: 35px;
    border: 1px solid #faae3f;
    margin-bottom: 10px;
    }

    .code-mobile {
    float: left;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    }
    .sign_input {
    background: transparent;
    float: left;
    border: none;
    height: 100%;
    }
    .sign-in-button {
    background-color: #162d38 !important;
    width: 100%;
    height: 35px;
    color: #e2e4e4;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 300;
    background: url(../assets/img/hm_log_arw.png);
    background-repeat: no-repeat !important;
    background-position: right 10px top 12px !important;
    background-size: 13px;
    text-align: left !important;
    border-radius: 0px !important;
    }
    .signup-privecy-policy-text {
        color: map-get($colors, secondary);
        font-size: 18px;
        margin-bottom: 5%;
    }
    .profession-singers-button {
        background-color: #162d38 !important;
        font-size: 16px;
        margin-bottom: 2px;
    }
    .search-header {
        background-color: #162d38 !important;
        padding: 5px;
    }
    
    .outcry-search_input {
        width:100%;
        border:none;
        color:white;
        height:35px;
        font-size: 16px;
        font-weight: 300;
        background-color: #162d38 !important;
        padding-left: 20px;
        background:url("../assets/img/hm_search_icon.png");
        background-repeat: no-repeat !important;
        background-position: right 7px top 6px !important;
        background-size: 22px !important;
    }
    
    .filter_btn {
        font-size: 16px;
    }

    .outcry_search_bay{
        width:100%;
        height:90px;
        padding: 10px;
        background: #162d38 !important;
    }

    .outcry_filter_bay {
        width:100%;
        height:50px;
        padding: 10px;
        background: #162d38 !important;
    }


.hm_search_bay p {
    margin:0px;
    color: white;
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 1px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.questionnaire {
    background-color: #f1f2f4;
    padding:auto;
}

.questionnaire h2{
    margin-top: 45%;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    // color:map-get($colors, primary);
    color: #162D3F;   
}

.questionare-event-type-header {
    margin-top: 30px;
    color:map-get($colors, secondary)
}

.next-arrow {
    font-size: 30px;
    padding-top: 3px;
}

.questionare-header {
    margin-top: 30px;
    color:map-get($colors, secondary)
}
//:::::::::::::::::::::::::::::::::::::::::::::::professional-listing-page:::::::::::::::::::::::::::::::::::::::::::::://

.outcry-search_input-profeesional {
    width:85%;
    border:none;
    color:white;
    height:35px;
    font-size: 16px;
    font-weight: 300;
    background-color: #162d38 !important;
    padding-left: 20px;
    background:url("../assets/img/hm_search_icon.png");
    background-repeat: no-repeat !important;
    background-position: right 7px top 6px !important;
    background-size: 22px !important;
}
//:::::::::::::::::::::::::::::::::::::::::::::::profile:::::::::::::::::::::::::::::::::::::::::::::://
.profile-sec{ position: relative;
    background: #162d38;
    border: #ddd solid 1px;
    z-index: 999999;
    height: 122px;}
.profile-sty{    background: #fff;
    width: 90%;
    height: 200%;
    margin: auto;
    position: relative;
    margin-top: 54px;}
.img-profile{
    width: 120px;
    height: 120px;
    background: #fff;
    position: relative;
    top: -55px;
    margin: auto;
    text-align: center;
    border-radius: 50%;}
.img-profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}  
.profile-sty p{margin: -7% 0 0 0;
    text-align: center;
    z-index: 999999;
    top: 0;
    font-size: 20px;
}

.profile-sty p span{
    color: #848484;
}  

.profile-sty ion-row {
    font-size: 25px;
}

.profile-sty ion-row ion-col span{
    font-size: 25px;
    color: #848484;
    font-size: 8px;
    padding-top: 0;
    margin-top: 0;
}

.profile-sty ul li{ float: left;
    padding: 7px 25px;
    font-size: 18px;
    list-style: none;}
.profile-sty ul li span{ display: block;
    font-size: 13px;
    color: map-get($colors, semidark);
    font-weight: 400;} 
//::::::::::::::::::::::::::profile-about-page::::::::::::::::::::::::::::::::://    
.about-texts h4 {
    color: map-get($colors, primary);
    font-size:30px;
}

.about-texts h6 {
    padding-top: 8px;
    color: map-get($colors, dark);
}

.about-texts p {
    color: map-get($colors, semidark);
}


//:::::::::::::::::::::::::profile-work-album-page::::::::::::::::::::::::::::://
.work-albums {
    padding:15px 16px 0 16px;
    text-align: center;
}

.albums-category-top {
    border-bottom: .5px solid lightgray;
}

// .work_album{
//     padding: 16px;
//     width:100%;
// }



// // .work_album {padding: 0px;margin:0px;width:100%;}
// .work_album {
//     float: left;
//     list-style:none;
//     border-top:none;
//     // padding: 5px;
//     background: white;
//     margin: 4px 4px 2px 4px;
// }

.work-albums img{
    // width:80%;
    // height: 90%;
}
// // .overview_album ul li img{width:100%;}
.work-albums p{
    margin:0px;
    color: map-get($colors, semidark);
    font-size: 15px;
    padding-top: 1px;
    padding-bottom:5px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.work-albums h6{
    margin:0px;
    color: map-get($colors, dark);
    font-size: 16px;
    padding-top: 5px;
    padding-left: 0;
    padding-bottom:5px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//::::::::::::::::::::::::::::::::::::::::::::Location::::::::::::::::::::::::::::::::::::::::::::::::://

.location-inputbox {
    border:.5px solid gray;
    // padding: 1px;
    padding-right: 0;
    padding-left: 0;

}

.location-button {
    background: map-get($colors, light);
    border: .5px solid map-get($colors, semilight);
    border-radius: 0%;
    color: map-get($colors, semidark);
    padding: 0;
    margin-right: 0;
}

//:::::::::::::::::::::::::::::::::::::::::::cancel-request::::::::::::::::::::::::::::::::::::::::://

.cancel-request-body {
    margin-top: 40%;
}

.cancel-request-btn {
    margin: 2px 10px 2px auto;
    border-radius: 0;
    border-color: white;
    color:white;
}

.cancel-request-div {
    background: map-get($colors, semilight);
    color: map-get($colors, secondary);
    padding: 10px 30px 1px 30px;
    text-align: center;
}

.cancel-request-div h6 {
    font-size: 15px;
    font-weight: 400;
}

.cancel-request-div p {
    font-size: 12px;
    font-weight: 300;
}
.cancel-request-btn02 {
    padding: 4px 40px 4px 40px;
    text-align: center;
    border-radius: none;
}

.cancel-request-submit-btn {
    background: map-get($colors, primary);
    color: white;
}

.cancel-request-cancel-btn {
    background: map-get($colors, semidark);
    color: white;
}

// .help-alert .alert-wrapper {
//     padding: 0;
//     flex-wrap: wrap;
//  button.alert-button {
//     max-width: 40%;
//     height: 40px;
//     background-color: map-get($colors, primary);
//     color:white;
// }  
// }
.alert-ios.alert-title{
    border-bottom: .5px solid lightslategray;
}

.alert-ios.alert-button {
    font-size: 15px;
    max-width: 90%;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    height: auto;
    border: 1px solid orange;
    background: map-get($colors, primary);
    color:white;  
    margin-top: 0;
}

//:::::::::::::::::::::::::::::::::::::::::BOOKING-ONGOING-LISTING:::::::::::::::::::::::::::::::::://

.myBooking-ongoing-listing-tab-header{
    float: left;
    height:100%;
    width:65%;
    padding-left: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.myBooking-ongoing-listing-back-arrow {
    height: 25px;
    width: 25px;
    margin-top: 14px;
}

.myBooking-ongoing-listing{
    border: .3px solid lightgray;
    box-shadow: 0 .5px #888888;
    margin-bottom: 20px;
}

.myBooking-ongoing-listing-header{
    border-bottom: .2px solid lightgray;
}

.myBooking-ongoing-listing-header h3{
    font-size: 15px;
    color: black;
    padding-top:10px;
    padding-left:10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.myBooking-ongoing-listing-header p{
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left:10px;
    color: map-get($colors, primary);
}

.myBooking-ongoing-listing-content h2 {
    font-size: 13px;
    color: black;
}

.myBooking-ongoing-listing-content h3 {
    font-size: 13px;
    color: map-get($colors, primary);
}

.myBooking-ongoing-listing-content-img {
    height: 50px;
    width: 50px;
    margin-left:2px;
    margin-bottom: 0;
    border-radius: 50%;
}

.myBooking-ongoing-listing-content-icon {
    padding-right: 8px;
    margin-top:12px;
    color: #888888;
    margin-bottom: 0;
    border-radius: 50%;
}

.myBooking-ongoing-listing-content-count {
    color:gray;
    padding-left: 10px;
}

.myBooking-ongoing-listing-content-count-not-responded {
    color:gray;
    padding: 0;
}

.myBooking-ongoing-listing-link-btn h4{
    font-size: 13px;
    padding-top: 5px;
    color: dodgerblue;
    text-transform: uppercase;

}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::BOOKING-HISTORY::::::::::://


.myBooking-History{
    border: .3px solid lightgray;
    box-shadow: 0 2px lightgray;
    margin-bottom: 20px;
}

.myBooking-History-header{
    border-bottom: .2px solid lightgray;
    padding: 4px;
}

.myBooking-History-header p{
    font-size: 16px;
    color: black;
    padding: 0 4px 6px 6px;
    margin-bottom: 0;
    margin-top: 0;
}

.myBooking-history-status p{
    font-size: 16px;
    color: map-get($colors, semidark);
    padding: 4px;
    margin-bottom: 0;
    margin-top: 0;
}

.myBooking-history-delete-btn p{
    color: dodgerblue;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 10px 10px 0;
}
//:::::::::::::::::::::::::::::::::::::::::Booking-requirement -Details:::::::::::::::::::::::::::::::::://

.my-booking-requirement {
    border: .5px solid lightgray;
    padding: 10px 10px 15px 10px; 
}

.back-arrow {
    height: 25px;
    width: 25px;
    margin: 5px;
}

.my-booking-fancy-text {
    color: map-get($colors, primary)
}

.circular {
    height: 18px;
    width: 18px;
    padding: 6px 6px 0 0; 
}

.arrow-forward {
    height: 18px;
    width: 24px;
    padding: 8px 6px 0 0; 
}

.star-icon {
    // font-size: 10px;
    // padding: 4px;
    padding-right: 12px;
}

.myBooking-requiremnnt-details-responses {
    border: .3px solid lightgray;
    box-shadow: 0 .5px #888888;
    margin-bottom: 20px;
    background: map-get($colors, semilight);
    border-radius: 5px;
    // padding: 20px;
}

.myBooking-requiremnnt-details-responses h5 {
    padding: 0;
    font-size: 16px;
    color: map-get($colors, fancy);
}

.qoimg{
    height: 60px;
    width: 60px;
    // margin: 20px;
    border-radius: 50%;
}

//:::::::::::::::::::::::::::::::::::::::::MyBookingRespondedProfessionaProfile:::::::::::::::::::::::::::::::::://
.thums-icon{
    font-size: 24px;
    margin-right: 10px;
    margin-bottom: 4px;
}
.respondedProfessionaProfile {
margin: auto;
padding: auto;
}
.respondedProfessionaProfile h6 {
font-weight: 450;
color: map-get($colors, semidark );
}
.respondedProfessionaProfile p {
font-weight: 300;
color: map-get($colors, semidark );
}
.respondedProfessionaProfile img {
    height: 100px;
    width: 100px;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    position: relative;
    object-fit: cover;
    object-position: center;
}

.respondedProfessionalProfilebtn {
    background-color: map-get($colors, semilight);
    color: map-get($colors, primary)
}

//:::::::::::::::::::::::::::::::::::::::-Contact-outcry-support-team-:::::::::::::::::::::::::::::::::::::://

.cntct-outcry-spprt-tm-submit-btn {
    text-align: center;
    margin-top:48px;
    font-size: 18px;
    border-radius: 6px;
    width: 100%;
    padding: 12px 0 12px 0;
    background-color: map-get($colors, primary);
    color:white;
}

.back-arrow-icon {
    height: 25px;
    width: 25px;
    margin: 5px;
    color: white;
    font-size: 24px;
    padding: 0 6px 0 16px;
}

.schedule_callback_header{
    float: left;
    height:100%;
    width:65%;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding: 4px 10px 10px 0;
    font-weight: 400;
}

.schedule-cl-bck-submit-btn {
    text-align: center;
    margin-top:18px;
    font-size: 16px;
    border-radius: 6px;
    width: 100%;
    padding: 14px 0 14px 0;
    background-color: map-get($colors, primary);
    color:white;
}

.cntct-outcry-spprt-tm-header {
    float: left;
    height:100%;
    width:65%;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 6px 10px 10px 0;
    font-weight: 300;
    
}

.cntct-outcry-spprt-tm-back-arrow {
    height: 22px;
    width: 22px;
    margin: 4px 7px 0 16px;

}

//booking-services
.booking-services h2 {
    font-size: 20px;
    font-weight: 400;
}

.booking-services p {
    font-size: 16px;
    font-weight: 300;
    color: black;
}

//::::::::::::::::::::::::::::::::::::::::::my-booking-confirm-message-post-req:::::::::::::::::
.get-help-expart-btn {
    font-size: 20px;
    color: map-get($colors, fancy);
}