.welcome_signin_inner_wrapper h5 {
    text-align: center;
    color: #162d38;
    margin-top: 50%;
    font-size: 36px;
    }
    .welcome_signin_inner_wrapper {
    width: 85%;
    margin-top: 15% !important;
    margin: 0 auto;
    }
    .logo-welcome h6 {
    width: 100%;
    text-align: center;
    color: #162d38;
    margin: 6px 0px;
    font-size: 25px;
    font-weight: 300;
    }
    .welcome_outcry_signup {
    background: url("../assets/img/welcome-bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    }
    .hm_sign_detail {
    width: 100%;
    }
    .logo-welcome {
    width: 100%;
    text-align: center;
    }
    .logo-welcome img {
    width: 50px;
    }
    .welcome_sign_detail {
    width: 100%;
    }
    .welcome__number_div {
    width: 100%;
    height: 35px;
    border: 1px solid #faae3f;
    margin-bottom: 10px;
    }
    .code-mobile {
    float: left;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    }
    .sign_input {
    background: transparent;
    float: left;
    border: none;
    height: 100%;
    }
    .sign-in-button {
    background-color: #162d38 !important;
    width: 100%;
    height: 35px;
    color: #e2e4e4;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 300;
    background: url(../assets/img/hm_log_arw.png);
    background-repeat: no-repeat !important;
    background-position: right 10px top 12px !important;
    background-size: 13px;
    text-align: left !important;
    border-radius: 0px !important;
    }

    .profession-singers-button {
        background-color: #162d38 !important;
    }

    .outcry-search_input {
        width:100%;
        border:none;
        color:white;
        height:35px;
        font-size: 16px;
        font-weight: 300;
        background-color: #162d38 !important;
        padding-left: 20px;
        background:url("../assets/img/hm_search_icon.png");
        background-repeat: no-repeat !important;
        background-position: right 7px top 6px !important;
        background-size: 22px !important;
    }

    .outcry_search_bay{
        width:100%;
        height:90px;
        padding: 10px;
        background: #162d38 !important;
    }

    .outcry_filter_bay {
        width:100%;
        height:50px;
        padding: 10px;
        background: #162d38 !important;
    }

.overview_album{padding: 5px;width:100%;}
.overview_album ul{padding: 0px;margin:0px;text-align: center;width:100%;}
.overview_album ul li{
    width:48%;float: left;
    text-align: center;
    list-style:none;
    border-top:none;
    padding:0;
    margin:3px; 
    background: #f1f2f4;
}
.overview_album ul li img{width:100%;}
.overview_album ul li p{
    margin:0px;
    color: #b3b7b9;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom:5px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.overview_album ul li h6{
    margin:0px;
    color: #b3b7b9;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom:5px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hm_search_bay p {
    margin:0px;
    color: white;
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 1px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rectangles .rectangle {
    border-radius: .1px;
    // display: inline-block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    height: 100px;
    border: 1px solid #000;
    background-color: white;
    // padding: 10px 10px 10px 100px;
    position: relative;
}

.rectangles .rectangle .circle {
  background: #aaa;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom:90%;
  z-index: 19;
}

.questionnaire {
    background-color: #f1f2f4;
    padding:auto;
}

.questionnaire p{
    margin-top: 45%;
    text-align: center;
    font-size: 20px;
    // color:map-get($colors, primary);
    color: #162D3F;
    
}
.hm_search_home{ position: relative;}
.hm_button_ad{position: absolute;
    top: 0;
    padding: 0px 160px 0px 28px;}
 .hm_button_ad h3{font-size: 21px; color: #fff; font-weight: 300;}
 .hm_button_ad .hm_search_input{ padding: 8px 19px;
    border-radius: 3px;
    background: #faae3f;
    color: #fff; font-weight: 300;}   
.hm_menu_bay ul li {
        padding: 22px 10px;  }
.hm_menu_bay ul li p {
            margin: 0px;
            color: #333;
            font-size: 18px; }    
.hm_search_bay p { padding-top: 1px; padding-bottom: 9px; }   
.img-filter{width: 37%;
    padding: 10px 8px 10px 0px;}      
.home-requirment-butn{padding: 8px 16px;
    background: #faae3f;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    border-radius: 3px;}  
.outcry_search_bay {
        width: 100%;
        height: 55px;
        padding: 10px;
        background: #162d38 !important;
    }    
.ion-header-sty {
        left: 0;
        top: 0;
        position: absolute;
        z-index: 10;
        display: block;
        width: 100%;
        background: #162d38 !important;
        height: 90px;
    }  

.welcome_signin_inner_wrapper h5 {
    text-align: center;
    color: #162d38;
    margin-top: 50%;
    font-size: 36px;
    }
    .welcome_signin_inner_wrapper {
    width: 85%;
    margin-top: 15% !important;
    margin: 0 auto;
    }
    .logo-welcome h6 {
    width: 100%;
    text-align: center;
    color: #162d38;
    margin: 6px 0px;
    font-size: 25px;
    font-weight: 300;
    }
    .welcome_outcry_signup {
    background: url("../assets/img/welcome-bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    }
    .hm_sign_detail {
    width: 100%;
    }
    .logo-welcome {
    width: 100%;
    text-align: center;
    }
    .logo-welcome img {
    width: 50px;
    }
    .welcome_sign_detail {
    width: 100%;
    }
    .welcome__number_div {
    width: 100%;
    height: 35px;
    border: 1px solid #faae3f;
    margin-bottom: 10px;
    }
    .code-mobile {
    float: left;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    }
    .sign_input {
    background: transparent;
    float: left;
    border: none;
    height: 100%;
    }
    .sign-in-button {
    background-color: #162d38 !important;
    width: 100%;
    height: 35px;
    color: #e2e4e4;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 300;
    background: url(../assets/img/hm_log_arw.png);
    background-repeat: no-repeat !important;
    background-position: right 10px top 12px !important;
    background-size: 13px;
    text-align: left !important;
    border-radius: 0px !important;
    }

    .profession-singers-button {
        background-color: #162d38 !important;
    }

    .outcry-search_input {
        width:100%;
        border:none;
        color:white;
        height:35px;
        font-size: 16px;
        font-weight: 300;
        background-color: #162d38 !important;
        padding-left: 20px;
        background:url("../assets/img/hm_search_icon.png");
        background-repeat: no-repeat !important;
        background-position: right 7px top 6px !important;
        background-size: 22px !important;
    }

    .outcry_search_bay{
        width:100%;
        height:90px;
        padding: 10px;
        background: #162d38 !important;
    }

    .outcry_filter_bay {
        width:100%;
        height:50px;
        padding: 10px;
        background: #162d38 !important;
    }

.overview_album{padding: 5px;width:100%;}
.overview_album ul{padding: 0px;margin:0px;text-align: center;width:100%;}
.overview_album ul li{
    width:48%;float: left;
    text-align: center;
    list-style:none;
    border-top:none;
    padding:0;
    margin:3px; 
    background: #f1f2f4;
}
.overview_album ul li img{width:100%;}
.overview_album ul li p{
    margin:0px;
    color: #b3b7b9;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom:5px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.overview_album ul li h6{
    margin:0px;
    color: #b3b7b9;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom:5px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hm_search_bay p {
    margin:0px;
    color: white;
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 1px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rectangles .rectangle {
    border-radius: .1px;
    // display: inline-block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    height: 100px;
    border: 1px solid #000;
    background-color: white;
    // padding: 10px 10px 10px 100px;
    position: relative;
}

.rectangles .rectangle .circle {
  background: #aaa;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom:90%;
  z-index: 19;
}

.questionnaire {
    background-color: #f1f2f4;
    padding:auto;
}

.questionnaire p{
    margin-top: 45%;
    text-align: center;
    font-size: 20px;
    // color:map-get($colors, primary);
    color: #162D3F;
    
}
.hm_search_home{ position: relative;}
.hm_button_ad{position: absolute;
    top: 0;
    padding: 0px 160px 0px 28px;}
 .hm_button_ad h3{font-size: 21px; color: #fff; font-weight: 300;}
 .hm_button_ad .hm_search_input{ padding: 8px 19px;
    border-radius: 3px;
    background: #faae3f;
    color: #fff; font-weight: 300;}   
.hm_menu_bay ul li {
        padding: 22px 10px;  }
.hm_menu_bay ul li p {
            margin: 0px;
            color: #333;
            font-size: 18px; }    
.hm_search_bay p { padding-top: 1px; padding-bottom: 9px; }   
.img-filter{width: 37%;
    padding: 10px 8px 10px 0px;}      
.home-requirment-butn{padding: 8px 16px;
    background: #faae3f;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    border-radius: 3px;}  
.outcry_search_bay {
        width: 100%;
        height: 55px;
        padding: 10px;
        background: #162d38 !important;
    }    
.ion-header-sty {
        left: 0;
        top: 0;
        position: absolute;
        z-index: 10;
        display: block;
        width: 100%;
        background: #162d38 !important;
        height: 90px;
    }  