page-questionnaire-date-post-requirement {
    ion-item.item-input ion-icon {
        display: flex;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        right: 20px;
        color: #7f7f7f;
        font-size: 24px;
        min-width: 0 !important;
        text-align: left !important;
      }

      .calender-icon {
        color: orange;
      }

      .calender-input {
        border: .5px solid lightgray;
      }
    //   input[type="date"]::-webkit-calendar-picker-indicator {
    //     color: rgba(0, 0, 0, 0);
    //     opacity: 1;
    //     display: block;
    //     background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    //     width: 20px;
    //     height: 20px;
    //     border-width: thin;
    // }

    input[type="date"]::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
      width: 20px;
      height: 20px;
      border-width: thin;
  }

}
