<!--
  Generated template for the QuestionnaireDatePostRequirementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="hm_bg_color hm_header">
  <button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goQuestionnaireBudgetPostRequirement()"></button>
  <div class="hm_search_header">
    Singer
  </div>
  <div class="hm_clear"></div>
</ion-header>


<ion-content padding>
  <div text-center class="questionare-header" padding>
    <h2><b>When do you need the <br>
      Singer ?
      </b>
  </h2>
  </div>
  <span ></span>
  <h5 style="padding-top: 30px" padding-top padding-left>Preferred Date 1 :</h5>
  <ion-item>
    <!-- <ion-icon  class="calender-icon" name="calendar" item-start></ion-icon> -->
    <ion-input type="date" class="calender-input" name="email" required></ion-input>
  </ion-item>
  <h5 padding-left>Preferred Date 2 :</h5>
  <ion-item>
    <!-- <ion-icon  class="calender-icon" name="calendar" item-start></ion-icon> -->
    <ion-input type="date" class="calender-input" name="email" required></ion-input>
  </ion-item>  <h5 padding-left>Preferred Date 3 :</h5>
    <ion-item>
      <!-- <ion-icon  class="calender-icon" name="calendar" item-start></ion-icon> -->
      <ion-input type="date" class="calender-input" name="email" required></ion-input>
    </ion-item>

</ion-content>

<!-- <ion-footer>
  <button style="margin-bottom: 0;" ion-button full (click)="questionnaireLocationPostRequirement()">Get Started
    <ion-icon class="arrow-forword" name="arrow-forward"></ion-icon>
  </button>  
</ion-footer> -->

<ion-footer>
  <button style="margin-bottom: 0;" ion-button full (click)="questionnaireLocationPostRequirement()">Next
     <ion-icon class="next-arrow" padding-left name="arrow-round-forward"></ion-icon>
  </button>  
</ion-footer>