<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>news</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <button ion-button full (click)="goToDetails()">Open Details</button>
  <button ion-button full (click)="setBadge()">Set Badge</button>
  <button ion-button full (click)="clearBadge()">Clear Badge</button>
  <button ion-button full (click)="jumpToAccount()">Go to Account</button>
 
  <button ion-button full (click)="hideToolbar()">Hide Toolbar</button>
  <button ion-button full (click)="showToolbar()">Show Toolbar</button>
</ion-content>