<!--
  Generated template for the QuestionaireForOtherQuestionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="hm_bg_color hm_header">
    <button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goQuestionnaireLocation()"></button>
    <div class="hm_search_header">
      Singer
    </div>
    <div class="hm_clear"></div>
</ion-header>
  
<ion-content padding>
    <ion-list no-lines padding-top>
        <div text-center class="questionare-event-type-header">
            <h2><b>Whats your role /
                Who are you ?
                </b>
            </h2>
        </div>
        <hr>
          <ion-item>
            <ion-label><h4 float-left >Client</h4></ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        <hr>        
          <ion-item>
            <ion-label><h4 float-left >Agency Personnel</h4></ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        <hr>
          <ion-item>
            <ion-label><h4 float-left >Other</h4></ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        <hr>
    </ion-list>  
    <ion-list no-lines>
        <div text-center class="questionare-event-type-header">
            <h2><b>How many responses you want ?
                </b>
            </h2>
        </div>
        <hr>
          <ion-item>
            <ion-label><h4 float-left >5</h4></ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        <hr>        
          <ion-item>
            <ion-label><h4 float-left >10</h4></ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        <hr>
        <ion-item>
            <ion-label><h4 float-left >20</h4></ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        <hr>
          <ion-item>
            <ion-label><h4 float-left >No Limit</h4></ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        <hr>
    </ion-list>  
</ion-content>

<ion-footer>
  <button style="margin-bottom: 0;" ion-button full (click)="confirmMassageBookingProfessional()">Place Request <ion-icon padding-left class="next-arrow" name="arrow-round-forward"></ion-icon>
  </button>  
</ion-footer>