<div class="hm_footer_tab">
  <ul>
    <li (click)="home()"><img src="assets/img/Outcry-home.png"><p>Home</p></li>
    <li (click)="myproject()"><img src="assets/img/Outcry-my-booking.png"><p>My Booking</p></li>
    <li (click)="message()"><div class="hm_red_circle">8</div><img src="assets/img/Outcry-message.png"><p>Message</p></li>
    <li (click)="profile()"><img src="assets/img/Outcry-profile.png"><p>Profile</p></li>
    <div class="hm_clear"></div>
  </ul>
</div>
