<!--
  Generated template for the ConfirmMassagePostRequirementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-row class="hm_bg_color hm_header">
    <ion-col>
        <button float-left ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goHome()"></button>
        <div float-left style="padding-left: 0;" class="hm_search_header">Singer</div>
    </ion-col>
    <ion-col>
        <button class="cancel-request-btn" float-right ion-button outline small (click)="cancelRequestPostRequirement()">Cancel Request </button>
    </ion-col>
  </ion-row>
  <div class="hm_clear"></div>
</ion-header>
  
<ion-content padding>
  <div class="cancel-request-body">
    <h5 padding-bottom text-center color="secondary">Request Date : February 26, 2019</h5>
    <div class="cancel-request-div">
      <h6>Request sent to singers</h6>
      <p text-nowrap >Interested Singers will respond with their profile & Prices</p>
    </div>
    <ion-row padding-top>
      <ion-col></ion-col>
      <ion-col><button class="cancel-request-btn02" ion-button medium (click)="goHome()">GO TO HOME PAGE</button></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
        <button class="get-help-expart-btn" ion-button clear full >Get help from an expert</button>
    </ion-row>
    <ion-row>
      <ion-col>
          <button text-center full ion-button (click)="goChatdetails()">Live Chat</button>
      </ion-col>
      <ion-col>
          <button text-center full ion-button (click)="goSchedulecallback()">Call Back</button>
      </ion-col>
    </ion-row>
     
  </div>    
</ion-content>
