<!--
  Generated template for the MyBookingOngoingListingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header padding-left padding-right hideBackButton class="hm_project_tab">
  <div class="hm_bg_color hm_header">
      <img class="myBooking-ongoing-listing-back-arrow" float-left src="assets/img/left-arrow.png" (click)="goHome()">
    <h2 float-left class="myBooking-ongoing-listing-tab-header" text-nowrap>
      My Booking
    </h2>
  </div>
  <div >
    <ul>
      <li [class.active]="tab=='active'" (click)="tab_swap('active')">ONGOING</li>
      <li [class.active]="tab=='inactive'" (click)="tab_swap('inactive')">HISTORY</li>
    </ul>
  </div>
  <div class="hm_clear"></div>
</ion-header>  



<ion-content padding>
  <div class="tabcontent" [hidden]="tab=='inactive'">
    <div inset class="myBooking-ongoing-listing">
      <div class="myBooking-ongoing-listing-header">
        <h3>Event Photographer</h3>
        <p>Booking ID : 12345</p>
      </div>
      <div padding>
        <ion-row class="myBooking-ongoing-listing-content">
          <ion-col><h2 no-margin float-left>Date: 24.02.2019</h2></ion-col>
          <ion-col><h3 no-margin float-right>Jadavpur, Kolkata</h3></ion-col>        
        </ion-row>
        <ion-row>
          <ion-col no-adding no-margin>
            <img float-left class="myBooking-ongoing-listing-content-img" src="assets/img/hm_profile_photo.png">
            <span padding-left no-margin><p float-left class="myBooking-ongoing-listing-content-count">1 pro responded</p></span>
      
          </ion-col>
        </ion-row>
        <ion-row class="myBooking-ongoing-listing-link-btn">
          <ion-col (click)="helpPopover()"><h4 no-adding no-margin float-left>Get Help</h4></ion-col>
          <ion-col (click)="myBookingRequiremntDetail()"><h4 no-adding no-margin float-right>View Project</h4></ion-col>
        </ion-row>
      </div>
    </div>
    <div inset class="myBooking-ongoing-listing">
      <div class="myBooking-ongoing-listing-header">
        <h3>Event Photographer</h3>
        <p>Booking ID : 12345</p>
      </div>
      <div padding>
        <ion-row class="myBooking-ongoing-listing-content">
          <ion-col><h2  no-margin float-left>Date: 24.02.2019</h2></ion-col>
          <ion-col><h3  no-margin float-right>Jadavpur, Kolkata</h3></ion-col>        
        </ion-row>
        <ion-row>
          <ion-col no-adding no-margin>
            <img float-left class="myBooking-ongoing-listing-content-img" src="assets/img/hm_profile_photo.png">
            <img float-left class="myBooking-ongoing-listing-content-img" src="assets/img/singer.jpg">
            <span padding-left no-margin><p float-left class="myBooking-ongoing-listing-content-count">2 pro responded</p></span>
          </ion-col>
        </ion-row>
        <ion-row class="myBooking-ongoing-listing-link-btn">
          <ion-col (click)="helpPopover()"><h4 no-adding no-margin float-left>Get Help</h4></ion-col>
          <ion-col (click)="myBookingRequiremntDetail()"><h4 no-adding no-margin float-right>View Project</h4></ion-col>
        </ion-row>
      </div>
    </div>
    <div inset class="myBooking-ongoing-listing">
        <div class="myBooking-ongoing-listing-header">
          <h3>Event Photographer</h3>
          <p>Booking ID : 12345</p>
        </div>
        <div padding>
          <ion-row class="myBooking-ongoing-listing-content">
            <ion-col><h2 no-margin float-left>Date: 24.02.2019</h2></ion-col>
            <ion-col><h3 no-margin float-right>Jadavpur, Kolkata</h3></ion-col>        
          </ion-row>
          <ion-row>
            <ion-col no-adding no-margin>
              <img float-left class="myBooking-ongoing-listing-content-img" src="assets/img/hm_profile_photo.png">
              <span padding-left no-margin><p float-left class="myBooking-ongoing-listing-content-count">1 pro responded</p></span>
        
            </ion-col>
          </ion-row>
          <ion-row class="myBooking-ongoing-listing-link-btn">
            <ion-col (click)="helpPopover()"><h4 no-adding no-margin float-left>Get Help</h4></ion-col>
            <ion-col (click)="myBookingRequiremntDetail()"><h4 no-adding no-margin float-right>View Project</h4></ion-col>
          </ion-row>
        </div>
    </div>
    <div inset class="myBooking-ongoing-listing">
        <div class="myBooking-ongoing-listing-header">
          <h3>Singer</h3>
          <p>Booking ID : 5677</p>
        </div>
        <div padding>
          <ion-row class="myBooking-ongoing-listing-content">
            <ion-col><h2 no-margin float-left>Date: 24.02.2019</h2></ion-col>
            <ion-col><h3 no-margin float-right>Jadavpur, Kolkata</h3></ion-col>        
          </ion-row>
          <ion-row>
            <ion-col no-adding no-margin>
              <ion-icon float-left class="myBooking-ongoing-listing-content-icon" style="font-size:24px;" md="md-person" name="md-person"></ion-icon>
              <span padding-left no-margin><p float-left class="myBooking-ongoing-listing-content-count-not-responded">Waiting for responses</p></span>
            </ion-col>
          </ion-row>
          <ion-row class="myBooking-ongoing-listing-link-btn">
            <ion-col (click)="helpPopover()"><h4 no-adding no-margin float-left>Get Help</h4></ion-col>
            <ion-col (click)="goMyBookingNotRespondedDetailedMsg()"><h4 no-adding no-margin float-right>View Project</h4></ion-col>
          </ion-row>
        </div>
    </div>
    <div inset class="myBooking-ongoing-listing">
        <div class="myBooking-ongoing-listing-header">
          <h3>Singer</h3>
          <p>Booking ID : 5677</p>
        </div>
        <div padding>
          <ion-row class="myBooking-ongoing-listing-content">
            <ion-col><h2 no-margin float-left>Date: 24.02.2019</h2></ion-col>
            <ion-col><h3 no-margin float-right>Jadavpur, Kolkata</h3></ion-col>        
          </ion-row>
          <ion-row>
            <ion-col no-adding no-margin>
              <ion-icon float-left class="myBooking-ongoing-listing-content-icon" style="font-size:24px;" md="md-person" name="md-person"></ion-icon>
              <span padding-left no-margin><p float-left class="myBooking-ongoing-listing-content-count-not-responded">Waiting for responses</p></span>
            </ion-col>
          </ion-row>
          <ion-row class="myBooking-ongoing-listing-link-btn">
            <ion-col (click)="helpPopover()"><h4 no-adding no-margin float-left>Get Help</h4></ion-col>
            <ion-col (click)="goMyBookingNotRespondedDetailedMsg()"><h4 no-adding no-margin float-right>View Project</h4></ion-col>
          </ion-row>
        </div>
    </div>
    <div inset class="myBooking-ongoing-listing">
      <div class="myBooking-ongoing-listing-header">
        <h3>Event Photographer</h3>
        <p>Booking ID : 12345</p>
      </div>
      <div padding>
        <ion-row class="myBooking-ongoing-listing-content">
          <ion-col><h2 no-margin float-left>Date: 24.02.2019</h2></ion-col>
          <ion-col><h3 no-margin float-right>Jadavpur, Kolkata</h3></ion-col>        
        </ion-row>
        <ion-row>
          <ion-col no-adding no-margin>
            <img float-left class="myBooking-ongoing-listing-content-img" src="assets/img/hm_profile_photo.png">
            <span padding-left no-margin><p float-left class="myBooking-ongoing-listing-content-count">1 pro responded</p></span>
      
          </ion-col>
        </ion-row>
        <ion-row class="myBooking-ongoing-listing-link-btn">
          <ion-col (click)="helpPopover()"><h4 no-adding no-margin float-left>Get Help</h4></ion-col>
          <ion-col (click)="myBookingRequiremntDetail()"><h4 no-adding no-margin float-right>View Project</h4></ion-col>
        </ion-row>
      </div>
    </div>
    <ion-row padding margin></ion-row> 
  </div>

  <div class="tabcontent" [hidden]="tab=='active'" >
    <div inset class="myBooking-History">
        <div class="myBooking-History-header">
          <p>Wedding Photographer</p>
        </div>
        <div>
          <ion-row class="myBooking-history-status">
            <ion-col><p float-left>Project Cancelled</p></ion-col>        
          </ion-row>
          <ion-row class="myBooking-history-delete-btn">
            <ion-col></ion-col>
            <ion-col><p float-right>Delete Project</p></ion-col>
          </ion-row>
        </div>
    </div>
    <div inset class="myBooking-History">
        <div class="myBooking-History-header">
          <p>Singer</p>
        </div>
        <div>
          <ion-row class="myBooking-history-status">
            <ion-col><p float-left>Project Cancelled</p></ion-col>        
          </ion-row>
          <ion-row class="myBooking-history-delete-btn">
            <ion-col></ion-col>
            <ion-col><p float-right>Delete Project</p></ion-col>
          </ion-row>
        </div>
    </div>
    <div inset class="myBooking-History">
        <div class="myBooking-History-header">
          <p>Photographer</p>
        </div>
        <div>
          <ion-row class="myBooking-history-status">
            <ion-col><p float-left>Project Cancelled</p></ion-col>        
          </ion-row>
          <ion-row class="myBooking-history-delete-btn">
            <ion-col></ion-col>
            <ion-col><p float-right>Delete Project</p></ion-col>
          </ion-row>
        </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <tabcomponent></tabcomponent>
</ion-footer>
  