<ion-content padding>
    <div class="about-texts">
        <h4>About</h4>
  
        <h6>Business Name</h6>
        <p>Alex John</p>
  
        <h6>Introduction</h6>
        <P text-wrap>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere quae quod molestias! Earum porro placeat, enim officiis incidunt debitis. Facilis, vitae cumque? Assumenda in atque iusto dicta hic beatae dolorum?</P>
  
        <h6>Number of Shows</h6>
        <p>200</p>
  
        <h6>Years of Experience</h6>
        <p>20</p>
  
        <h6>Type of Professional</h6>
        <p>Freelancer with a team</p>
    </div>
  </ion-content>