<ion-content no-padding>
  <div no-margin padding-left padding-top class="albums-category-top">
    <button class="albums-category-top-btn" padding no-margin ion-button medium left color="semidark"><p><b>All  Albums</b></p></button>
    <button class="albums-category-top-btn" ion-button padding no-margin margin-left medium outline left color="semidark"><p><b>Wedding Photographer</b></p></button>
  <hr>  
  </div>
       
    <div class="hm_clear"></div>
      
      <div>
        <!-- <ul>
          <li><img src="assets/img/singer00.jpg">
            <h6 text left>Pre-wedding Album</h6>
              <p text-left>15 photos</p>
          </li>
          <li><img src="assets/img/singer00.jpg">
            <h6 text left>Wedding Album 2</h6>  
            <p text-left>14 photos</p>
          </li>
          <li><img src="assets/img/singer00.jpg">
            <h6 text left>Wedding Album1</h6>  
            <p text-left>47 photos</p>
          </li>
          <div class="hm_clear"></div>
      
        </ul> -->

        <ion-row class="work-albums">
          <ion-col padding-right>
              <img src="assets/img/singer00.jpg">
              <h6 text-left>Pre-wedding Album</h6>
              <p text-left>15 photos</p>
          </ion-col>
          <ion-col>
              <img src="assets/img/singer00.jpg">
              <h6 text-left>Wedding Album 2</h6>  
              <p text-left>14 photos</p>
          </ion-col>
        </ion-row>
        <ion-row class="work-albums">
            <ion-col padding-right>
                <img src="assets/img/singer00.jpg">
                <h6 text-left>Wedding Album1</h6>  
                <p text-left>47 photos</p>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
      </div>
      
      
  </ion-content>
  