<!--
  Generated template for the MyBookingHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>myBookingHistory</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="hm_sign_bg">
        <div class="hm_project_tab">
            <ul>
              <li [class.active]="tab=='active'" (click)="tab_swap('active')"><span>.</span>Ongoing Projects</li>
              <li [class.active]="tab=='inactive'" (click)="tab_swap('inactive')"><span>.</span>Project History</li>
            </ul>
        </div>
  <div class="tabcontent" [hidden]="tab=='inactive'">

    <div inset class="myBooking-History">
        <div class="myBooking-History-header">
          <p>Wedding Photographer</p>
        </div>
        <div>
          <ion-row class="myBooking-history-status">
            <ion-col><p float-left>Project Cancelled</p></ion-col>        
          </ion-row>
          <ion-row class="myBooking-history-delete-btn">
            <ion-col></ion-col>
            <ion-col><p float-right>Delete Project</p></ion-col>
          </ion-row>
        </div>
      </div>

      <div inset class="myBooking-History">
          <div class="myBooking-History-header">
            <p>Singer</p>
          </div>
          <div>
            <ion-row class="myBooking-history-status">
              <ion-col><p float-left>Project Cancelled</p></ion-col>        
            </ion-row>
            <ion-row class="myBooking-history-delete-btn">
              <ion-col></ion-col>
              <ion-col><p float-right>Delete Project</p></ion-col>
            </ion-row>
          </div>
      </div>


      <div inset class="myBooking-History">
          <div class="myBooking-History-header">
            <p>Photographer</p>
          </div>
          <div>
            <ion-row class="myBooking-history-status">
              <ion-col><p float-left>Project Cancelled</p></ion-col>        
            </ion-row>
            <ion-row class="myBooking-history-delete-btn">
              <ion-col></ion-col>
              <ion-col><p float-right>Delete Project</p></ion-col>
            </ion-row>
          </div>
      </div>
  </div>
  <div class="tabcontent" [hidden]="tab=='active'" >
      
  </div>
  
</ion-content>
