<ion-content padding>
	<div class="help_popover_cover">
		<div class="help_popover_main">
			<!-- <ul>
				<li>Blogs</li>
				<li (click)="goHelpCentreListing()">Help-centre</li>
				<li>How it works</li>
				<li>News/Updates</li>
				<li>About</li>
				<li>Login</li>
				<li>Register</li>
			</ul> -->

			<h5 padding-top padding-left>Schedule call back</h5>
			<hr>
			<p text-center padding-left>Please schedule a call back and we will help <br>
				 you sort any issue you are facing</p>
			
				 <ion-list no-margin padding>
						<ion-item>
						   <ion-label>Category of Problems</ion-label>
						   <ion-select>
							   <ion-option>Problem A</ion-option>
							   <ion-option>Problem B</ion-option>
							   <ion-option>Problem C</ion-option>
							   <ion-option>Problem D</ion-option>
							   <ion-option>Problem n</ion-option>
						  </ion-select>
						 </ion-item>
					</ion-list>

					<p no-margin padding-left >Description</p>
					<div padding>
						<ion-item style="border:.5px solid #faae3f">
							<ion-textarea rows="4" cols="20"></ion-textarea>
						</ion-item>
					</div>

				
			<h6 class="number">+918765421345</h6>
			<ion-row padding-bottom padding-top> 
				<ion-col></ion-col>
				<ion-col>
					<button class="callback-btn" text-nowrap color="primary">    Submit Request for Callback    </button>
				</ion-col>
				<ion-col></ion-col>
			</ion-row>
						
		</div>

	</div>

</ion-content>
