page-mybooking-get-help {
    .help_popover_main{
        width:100% !important;
        background:#fff !important;
        float:right;
        position:relative;
        margin-top: 40px;
    }
    .help_popover_main ul{
        margin:0px;
        padding:0px;
    }
    .help_popover_main ul li{
        width:100%;
        list-style:none;
        color:#4f4f4f;
        font-size: 18px;
        padding:10px;
    }
    .help_popover_main ul li span img{
        width:20px;
        position:relative;
        top:3px;
        margin-right:8px;
    }
    .popover-content {
        width:100% !important;
        top:50px !important;
        left:0px !important;
        right:0px !important;
        background:transparent !important;
        box-shadow:none !important;
    }
    .hm_popover_cover{
        width:100%;
        position:relative;
    }
    .popover-content ion-content, .popover-content .scroll-content {
        contain: none;
        background: transparent !important;
    }
    ion-popover{
        background:rgba(0,0,0,0.8) !important;    
    }

    .callback-btn {
        background: map-get($colors,primary);
        padding: 10px 70px 10px 70px;
        border-radius: 5px;
        color:white;
    }

    .number {
        border-bottom:.5px solid lightgray;
        padding: 16px 0 4px 16px;
        margin: 0 16px 0 16px;
    }
}