<ion-header>
    <div class="hm_wrapper">
      <div class="outcry_search_bay">
      <button class="profession-singers-button" float-left ion-button small>Message</button>
    </div>
    </div>
  </ion-header>
  
  
  <ion-content padding>
    <div class="hm_message_div">
      <ul>
      <li (click)="gochat()">
          <div class="hm_message_pic">
            <img src="assets/img/hm_profile_pic2.jpg">
          </div>
          <div class="hm_message_detail">
            <h4>Paul Williams</h4>
            <p>Dear Paul,We accepted your request for diet nutrition.We will contact you soon.</p>
          </div>
          <div class="hm_clear"></div>
        </li>

        <li (click)="gochat()">
          <div class="hm_message_pic">
              <div class="hm_message_not">3</div>
              <img src="assets/img/hm_profile_photo.png">
          </div>
          <div class="hm_message_detail">
            <h4>Alex John</h4>
            <p>Dear Alex,We accepted your request for diet nutrition.We will contact you soon.</p>
          </div>

          <div class="hm_clear"></div>
        </li>

        <li (click)="gochat()">
          <div class="hm_message_pic">
          <div class="hm_message_not">3</div>
          <img src="assets/img/hm_profile_pic3.jpg">
          </div>
          <div class="hm_message_detail">
            <h4>Alex Smith</h4>
            <p>Dear Alex,We accepted your request for diet nutrition.We will contact you soon.</p>
          </div>
          <div class="hm_clear"></div>
        </li>

      </ul>
    </div>
  </ion-content>
<ion-footer>
  <tabcomponent></tabcomponent>
</ion-footer>
    