<!--
  Generated template for the PostYourRequirementSegmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="hm_bg_color hm_header">
    <button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="home()"></button>
    <div class="hm_search_header">
      Post Your Requirement
    </div>
    <div class="hm_clear"></div>
</ion-header>

<ion-content no-padding>
    <div class="hm_wrapper">
      <div class="hm_search_bay hm_search_home">
          <p color="light">All Segments</p>
      </div>
    </div>

    <div class="hm_menu_bay" padding>
        <ul>
          <li class="hm_border_top_none hm_border_left_none" (click)="postRequirementCategory()"><img src="assets/img/001.png"><p>Artist / Talent</p></li>
          <li class="hm_border_top_none hm_border_left_none" (click)="service(1)"><img src="assets/img/003.png"><p>Event Services</p></li>
          <li class="hm_border_top_none hm_border_left_none" (click)="service(2)"><img src="assets/img/002.png"><p>Marketing Services</p></li>
          <li class="hm_border_top_none hm_border_left_none hm_border_right_none" (click)="service(3)"><img src="assets/img/004.png"><p>Vanue & Gateways</p></li>
          <div class="hm_clear"></div>    
        </ul>
    </div>    
</ion-content>
