
<ion-content class="welcome_outcry_signup">
  <div class="hm_wrapper">
    <div class="welcome_signin_inner_wrapper">
      <div class="logo-welcome ">
        <h5>Welcome to</h5>
        <h6>Outcry</h6>
        <span><img src="assets/img/hm_vector_underline.png"></span>
      </div>
      <br>
      <br>
      <div class="welcome_sign_detail">
        <div class="welcome__number_div ">
          <select class="code-mobile">
          <option>+91</option>
          </select>
          <input class="sign_input" placeholder="Mobile Number">
          <div class="hm_clear"></div>
        </div>

        <div class="welcome__number_div">
          <input class="sign_input" padding placeholder=" Email">
          <div class="hm_clear"></div>
        </div>
        
        <div class="welcome__number_div">
          <input class="sign_input" padding placeholder=" Full Name">
          <div class="hm_clear"></div>
        </div>

        <div class="welcome__number_div">
          <input class="sign_input" padding placeholder=" Location">
          <div class="hm_clear"></div>
        </div>
        
        <button class="sign-in-button" (click)="home()" >Next</button>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <p text-center class="signup-privecy-policy-text">By signing up,you garee to our <b>terms of use</b> <br>
    and <b>privacy policy</b>
  </p>
</ion-footer>