<!--
  Generated template for the QuestionnaireStartingPagePostRequirementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="hm_bg_color hm_header">
  <button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goPostYourRequirementCategory()"></button>
  <div class="hm_search_header">
    Questionnaire
  </div>
  <div class="hm_clear"></div>
</ion-header>

<ion-content class="questionnaire" background="semilight" no-padding>
    <h2>We will ask a few questions <br>
        to connect you with the <br>
        right Artist
    </h2>
</ion-content> 

<ion-footer no-padding>
  <button style="margin-bottom: 0;" ion-button full (click)="questionnaireEventTypePostRequirement()" no-textwrap>Get Started
  </button>  
</ion-footer>
