<!--
  Generated template for the QuestionnairedatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="hm_bg_color hm_header">
  <button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goQuestionnairebudget()"></button>
  <div class="hm_search_header">
    Singer
  </div>
  <div class="hm_clear"></div>
</ion-header>
 
<ion-content padding>
  <!-- <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
      <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
      <ion-col col-2 (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>Su</ion-col>
        <ion-col>Mo</ion-col>
        <ion-col>Tu</ion-col>
        <ion-col>We</ion-col>
        <ion-col>Th</ion-col>
        <ion-col>Fr</ion-col>
        <ion-col>Sa</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month">990{{lastDay}}</ion-col>
        <ion-col col-1 *ngFor="let day of daysInThisMonth">
          <span class="currentDate" *ngIf="currentDate === day; else otherDate">990{{day}}</span>
          <ng-template #otherDate class="otherDate">{{day}}</ng-template>
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month">9098{{nextDay}}</ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
      <div text-center class="questionare-header" padding>
        <h2><b>When do you need the <br>
          Singer?
          </b>
      </h2>
      </div>
      <span ></span>
      <h5 style="padding-top: 30px" padding-top padding-left>Preferred Date 1 :</h5>
      
      <ion-item>
        <!-- <ion-icon type=":date" class="calender-icon" name="calendar" item-start></ion-icon> -->
    <ion-input type=date
      class="calender-input" name="email" required></ion-input>
  </ion-item>  
  <h5 padding-left>Preferred Date 2 :</h5>
  <ion-item>
    <!-- <ion-icon  class="calender-icon" name="calendar" item-start></ion-icon> -->
    <ion-input type="date" class="calender-input" name="email" required></ion-input>
  </ion-item>
  <h5 padding-left>Preferred Date 3 :</h5>
  <ion-item>
    <!-- <ion-icon type=":date" class="calender-icon" name="calendar" item-start></ion-icon> -->
    <ion-input type=date
     class="calender-input" name="email" required></ion-input>
  </ion-item>


</ion-content>


<!-- <ion-footer>
  <button style="margin-bottom: 0;" ion-button full (click)="questionnaireLocation()">Next
    <ion-icon class="arrow-forword" name="arrow-forward"></ion-icon>
  </button>  
</ion-footer> -->

<ion-footer>
  <button style="margin-bottom: 0;" ion-button full (click)="questionnaireLocation()">Next
     <ion-icon class="next-arrow" padding-left name="arrow-round-forward"></ion-icon>
  </button>  
</ion-footer>