<ion-header>
    <ion-row no-padding class="hm_bg_color hm_header">
      <ion-col text-left>
        <!-- <img class="back-arrow" float-left src="assets/img/left-arrow.png"> -->
        <ion-icon (click)="goHelpCentreListing()" class="back-arrow-icon" float-left name="arrow-back"></ion-icon>
          <div padding-left float-left class="schedule_callback_header" text-nowrap>Schedule Call Back</div>
      </ion-col>
    </ion-row>
    <!-- <div class="hm_clear"></div> -->
  </ion-header>  
   

<ion-content padding>
    <p padding-top color="semidark">Please schedule A Call Back We Will Help You Sort any <br>
        Issues you are Facing
    </p>

    <ion-list>
        <ion-item>
           <ion-label>Category of Problems</ion-label>
           <ion-select>
               <ion-option>Problem A</ion-option>
               <ion-option>Problem B</ion-option>
               <ion-option>Problem C</ion-option>
               <ion-option>Problem D</ion-option>
               <ion-option>Problem n</ion-option>
          </ion-select>
         </ion-item>
    </ion-list>

    <p >Description</p>
    <ion-item style="border:.5px solid #faae3f">
      <ion-textarea rows="4" cols="20"></ion-textarea>
    </ion-item>

    

    <ion-item no-padding>
      <ion-input type="text" placeholder="+91 9830987654"></ion-input>
    </ion-item>
<br>
    <button class="schedule-cl-bck-submit-btn">Submit Request For Callback</button>


</ion-content>
<ion-footer>
  <tabcomponent></tabcomponent>
</ion-footer>
  