<ion-header>
    <ion-row no-padding class="hm_bg_color hm_header">
      <ion-col text-left>
        <img class="back-arrow" float-left src="assets/img/left-arrow.png" (click)="goMyBookingOnlineListing()">
      
          <div float-left class="hm_search_header" text-nowrap>Requirement Details</div>
      </ion-col>
      <ion-col>
          <button class="cancel-request-btn" float-right ion-button outline small (click)="cancelRequestBookingResReq()">Cancel</button>
      </ion-col>
    </ion-row>
    <!-- <div class="hm_clear"></div> -->
</ion-header>  

<ion-content inset padding>
  <div class="my-booking-requirement">
    <ion-row no-padding no-margin><h5 no-padding no-margin float-left>Singer</h5></ion-row>
    <ion-row padding-bottom no-margin style="border-bottom: 1px solid lightgray"><h6 class="my-booking-fancy-text" no-padding no-margin float-left>Booking ID : 001735</h6></ion-row>  
    <hr>
    <ion-row no-padding no-margin>
      <ion-col no-padding no-margin><h6 no-padding no-margin float-left>Date:24.04.2019</h6></ion-col>
      <ion-col no-padding no-margin><h6 class="my-booking-fancy-text" no-padding no-margin float-right>Jadavpur, Kolkata</h6></ion-col>
    </ion-row>
  </div>

  <h5 no-padding><b>Details : </b></h5>
  
  <div>
        <p><img class="circular" src="assets/img/circular.png"><b>Function</b></p>
  </div>
  <div padding-left>
          <p><img class="arrow-forward" src="assets/img/icon-arrow.png">Reception</p>
          <p><img class="arrow-forward" src="assets/img/icon-arrow.png">Wedding</p>
  </div>

  <div>
      <p><img class="circular" src="assets/img/circular.png"><b>Required for</b></p>
  </div>
  <div padding-left>
        <p><img class="arrow-forward" src="assets/img/icon-arrow.png">Two Days</p>
  </div>

  <div>
      <p><img class="circular" src="assets/img/circular.png"><b>Area of services</b></p>
  </div>
  <div padding-left>
        <p><img class="arrow-forward" src="assets/img/icon-arrow.png">Kolkata</p>
  </div>

  <div>
      <p><img class="circular" src="assets/img/circular.png"><b>Requirement for the day1</b></p>
  </div>
  <div padding-left>
        <p><img class="arrow-forward" src="assets/img/icon-arrow.png">Traditional Photographer (Rs.5000  onwards)</p>
        <p><img class="arrow-forward" src="assets/img/icon-arrow.png">Traditional Videographer (Rs.7000  onwards)</p>
  </div>

  <h5>Responses : </h5>

  <h4 text-center>Request send to Singer</h4>
  <p padding-bottom margin-bottom text-center>1 to 3 interested Singers will respond in <br>
  24 hours with their profile & prices</p> 
  <ion-row padding margin></ion-row> 
</ion-content>
<ion-footer>
    <tabcomponent></tabcomponent>
</ion-footer>