
<ion-content padding>

  <ion-row>
    <ion-col col-4><h1 class="review-no" float-right><b>4.5</b></h1></ion-col>
    <ion-col col-8>
      <span class="review-icon">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </span>
      <br>
      <span class="review-icon-txt">1 rating, 1 review</span>
    </ion-col>
  </ion-row>
<img src="assets/img/profile_review.jpg" style="width:100%">
      <div>
        <h1><b>Outcry Customer Review</b></h1>
      </div>
      <ion-row>
        <ion-col col-2>
          <button class="review-name-tmpl" ion-button>T</button>
        </ion-col>
        <ion-col col-10>
            <span style="color:chocolate;" float-right>4.5 <ion-icon color=primary name="md-star"></ion-icon></span>
          <h3 no-margin>Tapan Ghosh</h3>
          <p no-margin style="color:lightgrey;">Baghajatin Colony,kol <img src="assets/img/circle.png" style="height:6px;width:6px; margin:0 10px;"> Dec 26,2018</p>

          <h6 text-wrap>
              <img class="quotation-icon" src="assets/img/quotation.png">
                 <span style="padding-left: 8px;">Greate to have them...all the very best with future assignment
                  </span>
            </h6>
          <button float-left></button> <button float-left ></button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <button class="review-name-tmpl" ion-button>P</button>
        </ion-col>
        <ion-col col-10>
            <span style="color:chocolate;" float-right>4.5 <ion-icon color=primary name="md-star"></ion-icon></span>
          <h3 no-margin>Paul Williams</h3>
          <p no-margin style="color:lightgrey;">Baghajatin Colony,kol <img src="assets/img/circle.png" style="height:6px;width:6px; margin:0 10px;"> Dec 30,2018</p>

          <h6 text-wrap>
              <img class="quotation-icon" src="assets/img/quotation.png">
                 <span style="padding-left: 8px;">Greate to have them...all the very best with future assignment
                  </span>
            </h6>
          <button float-left></button> <button float-left ></button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><button float-right class="review-btn">Helpful</button></ion-col>
        <ion-col><button float-left class="review-btn">Report</button></ion-col>
      </ion-row>
  </ion-content>
  