page-my-booking-responded-professional-overview {

    .review-name-tmpl {
        background-color: blueviolet;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        text-align: center;
        margin: auto;
        color: white;
        font-weight: 400;
        font-size: 20px;
    }

    .review-btn {
        background-color: white;
        padding: 10px 20px 10px 20px;
        border: .5px solid lightgray;
        font-size:16px;
        border-radius:5px;
    }

    .quotation-icon {
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }

    .review-no {
        font-size: 45px;
        color: map-get($colors, primary);

    }

    .review-icon ion-icon {
        font-size: 20px;
        color: map-get($colors, primary);
    }

    .review-icon-txt {
        margin-top: 1px;
    }
}
